.progress__tab-year.tab.is-active( data-year=2019 )
  include ../month-choice.pug

  .progress__tabs-months
      include months/1-january.pug
      include months/2-february.pug
      include months/3-march.pug
      include months/4-april.pug
      include months/5-may.pug
      include months/6-june.pug
      include months/7-july.pug
      include months/8-august.pug
      include months/9-september.pug
      include months/10-october.pug
      include months/11-november.pug
      include months/12-december.pug