$width-desktop-wide-layout: 1920px;
$width-desktop-wide: 1550px;
$width-desktop-layout: 1280px;
$width-desktop: 1024px;
$width-tablet-layout:   1000px;
$width-tablet:   768px;
$width-mobile-layout:   375px;
$width-min:      320px;

$retina-dpi:    144dpi;
$retina-dppx:  1.5dppx;

$font-austin: "Austin Cyr", "Arial", sans-serif;
$font-italic: "AustinCyrItalic", "Arial", sans-serif;
$font-ttnorms: "TT Norms", "Arial", sans-serif;
$font-base: 16px;

$color-black:        #000000;
$color-white:        #ffffff;

$color-blue:         #10069F;
$color-red:          #FF4D00;
$menu-bg:              #3400a2;
