.choice-progress
  .swiper-container.choice-container
    .swiper-wrapper.tabs-links
      .swiper-slide.swiper-slide-month( data-month=0 )
        button.switch-button.switch-button--active( type="button" ) #[span ЯНВАРЬ]
        p.visually-hidden ЯНВАРЬ
      .swiper-slide.swiper-slide-month( data-month=1 )
        button.switch-button( type="button") #[span ФЕВРАЛЬ]
        p.visually-hidden ФЕВРАЛЬ
      .swiper-slide.swiper-slide-month( data-month=2 )
        button.switch-button( type="button") #[span МАРТ]
        p.visually-hidden МАРТ
      .swiper-slide.swiper-slide-month( data-month=3 )
        button.switch-button( type="button") #[span АПРЕЛЬ]
        p.visually-hidden АПРЕЛЬ
      .swiper-slide.swiper-slide-month( data-month=4 )
        button.switch-button( type="button") #[span МАЙ]
        p.visually-hidden МАЙ
      .swiper-slide.swiper-slide-month( data-month=5 )
        button.switch-button( type="button") #[span ИЮНЬ]
        p.visually-hidden ИЮНЬ
      .swiper-slide.swiper-slide-month( data-month=6 )
        button.switch-button( type="button") #[span ИЮЛЬ]
        p.visually-hidden ИЮЛЬ
      .swiper-slide.swiper-slide-month( data-month=7 )
        button.switch-button( type="button") #[span АВГУСТ]
        p.visually-hidden АВГУСТ
      .swiper-slide.swiper-slide-month( data-month=8 )
        button.switch-button( type="button") #[span СЕНТЯБРЬ]
        p.visually-hidden СЕНТЯБРЬ
      .swiper-slide.swiper-slide-month( data-month=9 )
        button.switch-button( type="button") #[span ОКТЯБРЬ]
        p.visually-hidden ОКТЯБРЬ
      .swiper-slide.swiper-slide-month( data-month=10)
        button.switch-button( type="button" ) #[span НОЯБРЬ]
        p.visually-hidden НОЯБРЬ
      .swiper-slide.swiper-slide-month( data-month=11)
        button.switch-button( type="button" ) #[span ДЕКАБРЬ]
        p.visually-hidden ДЕКАБРЬ
