@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "PT Serif";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PTSerif.woff2") format("woff2"), url("../fonts/PTSerif.woff") format("woff");
}
