<section class="advice row">
  <div class="advice__header col-xs-12 col-sm-12 col-lg-12">
    <p class="advice__p">Советы</p>
    <h2>Полезные советы и фишки</h2>
    <p class="advice__description">Для тех, кто на Байкале первый раз, и для бывалых путешественников</p>
  </div>
  <figure class="advice__picture col-xs-12 col-sm-6 col-lg-6">
    <img class="cover" src="img/tourist.png" alt="Туристы на Байкале">
  </figure>
  <div class="advice__container col-xs-12 col-sm-6 col-lg-6">
    <ul class="advice__list">
      <li class="advice__item">
        <a href="#">
          <h3>
            <span class="advice__item-h-bold">Какой тур вам подойдет - </span>
            <br>
            <span class="advice__item-h-black">индивидуальный тур или сборный (групповой)?</span>
          </h3>
        </a>
      </li>
      <li class="advice__item">
        <a href="#">
          <h3>
            <span class="advice__item-h-bold">Как выбрать туроператора</span>
            <br>
            <span class="advice__item-h-black">для отдыха на Байкале</span>
          </h3>
        </a>
      </li>
      <li class="advice__item">
        <a href="#">
          <h3>
            <span class="advice__item-h-bold">Как выбрать отель</span>
            <br>
            <span class="advice__item-h-black">для отдыха на Байкале</span>
          </h3>
        </a>
      </li>
      <li class="advice__item">
        <a href="#">
          <h3>
            <span class="advice__item-h-bold">Какие места</span>
            <br>
            <span class="advice__item-h-black">есть на Байкале?</span>
          </h3>
        </a>
      </li>
    </ul>
  </div>
</section>
