<section class="baikal-hits row" itemscope itemtype='http://schema.org/ItemList'>
  <h2 itemprop="name" class="irkutsk-header baikal-hits__header col-lg-6">Самые популярные места на Байкале</h2>
  <ul class="baikal-hits__list col-lg-12">
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="col-xs-12 col-sm-6 col-lg-4 baikal-hits__item">
      <a itemprop="url" class="baikal-hits__item-inner" href="#1">
        <div class="baikal-hits__image-block">
          <img itemprop="image" class="cover baikal-hits__photo" height="235px" src="img/irkutsk-olkhon@1x.jpg" alt="Остров Ольхон">
          <div class="bottom-shadow"></div>
          <h3 itemprop="name" class="baikal-hits__item-header">Остров Ольхон</h3>
        </div>
        <p itemprop="description" class="baikal-hits__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
      </a>
      <meta itemprop='position' content='1'>
    </li>
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="col-xs-12 col-sm-6 col-lg-4 baikal-hits__item">
      <a itemprop="url" class="baikal-hits__item-inner" href="#2">
        <div class="baikal-hits__image-block">
          <img itemprop="image" class="cover baikal-hits__photo" height="235px" src="img/irkutsk-yord@1x.jpg"
             alt="Остров Ольхон">
          <div class="bottom-shadow"></div>
          <h3 itemprop="name" class="baikal-hits__item-header">Гора Ёрд</h3>
        </div>
        <p itemprop="description" class="baikal-hits__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor.Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit.</p>
        </a>
        <meta itemprop='position' content='2'>
    </li>
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="col-xs-12 col-sm-6 col-lg-4 baikal-hits__item">
      <a itemprop="url" class="baikal-hits__item-inner" href="#3">
        <div class="baikal-hits__image-block">
          <img itemprop="image" class="cover baikal-hits__photo" height="235px" src="img/irkutsk-ogoy@1x.jpg" alt="Остров Ольхон">
          <div class="bottom-shadow"></div>
          <h3 itemprop="name" class="baikal-hits__item-header">Остров Огой</h3>
        </div>
        <p itemprop="description" class="baikal-hits__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor.</p>
      </a>
      <meta itemprop='position' content='3'>
    </li>
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="col-xs-12 col-sm-6 col-lg-4 baikal-hits__item">
      <a itemprop="url" class="baikal-hits__item-inner" href="#4">
        <div class="baikal-hits__image-block">
          <img itemprop="image" class="cover baikal-hits__photo" height="235px" src="img/irkutsk-olkhon@1x.jpg" alt="Остров Ольхон">
          <div class="bottom-shadow"></div>
          <h3 itemprop="name" class="baikal-hits__item-header">Остров Ольхон</h3>
        </div>
        <p itemprop="description" class="baikal-hits__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor.Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
      </a>
      <meta itemprop='position' content='4'>
    </li>
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="col-xs-12 col-sm-6 col-lg-4 baikal-hits__item">
      <a itemprop="url" class="baikal-hits__item-inner" href="#5">
        <div class="baikal-hits__image-block">
          <img itemprop="image" class="cover baikal-hits__photo" height="235px" src="img/irkutsk-yord@1x.jpg" alt="Остров Ольхон">
          <div class="bottom-shadow"></div>
          <h3 itemprop="name" class="baikal-hits__item-header">Гора Ёрд</h3>
        </div>
        <p itemprop="description" class="baikal-hits__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor.Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit.</p>
      </a>
      <meta itemprop='position' content='5'>
    </li>
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="col-xs-12 col-sm-6 col-lg-4 baikal-hits__item">
      <a itemprop="url" class="baikal-hits__item-inner" href="#6">
        <div class="baikal-hits__image-block">
          <img itemprop="image" class="cover baikal-hits__photo" height="235px" src="img/irkutsk-ogoy@1x.jpg" alt="Остров Ольхон">
          <div class="bottom-shadow"></div>
          <h3 itemprop="name" class="baikal-hits__item-header">Остров Огой</h3>
        </div>
        <p itemprop="description" class="baikal-hits__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
          dolor.</p>
      </a>
      <meta itemprop='position' content='6'>
    </li>
  </ul>
</section>
