<section class="catalog catalog--error row" itemscope itemtype='http://schema.org/ItemList'>
  <h2 itemprop="name" class="visually-hidden">Каталог туров</h2>
  <div itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="catalog__item col-xs-12 col-sm-6 col-lg-4">
    <a itemprop="url" href="#1" class="catalog__link">
      <svg class="catalog__item-icon catalog__item-icon--tour" width="54" height="54"><use xlink:href="#icon-tour"></use></svg>
      <h3 itemprop="name"><span>Выбрать <br> готовый тур</span></h3>
      <span class="catalog__item-number"><b>230</b> туров</span>
      <p itemprop="description">Если вы&nbsp;хотите присоединиться к&nbsp;сборной группе с&nbsp;известной программой и&nbsp;датами заезда</p>
    </a>
    <meta itemprop='position' content='1'>
  </div>
  <div itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="catalog__item col-xs-12 col-sm-6 col-lg-4">
    <a itemprop="url" href="#2" class="catalog__link">
      <svg class="catalog__item-icon catalog__item-icon--intour" width="54" height="54"><use xlink:href="#icon-intour"></use></svg>
      <h3 itemprop="name"><span>Индивидуальный <br> тур, Вип-тур</span></h3>
      <span class="catalog__item-number">
        <svg width="19" height="9"><use xlink:href="#icon-infinity"></use></svg>
        вариантов
      </span>
      <p itemprop="description">Если вы&nbsp;привыкли к&nbsp;индивидуальному подходу и&nbsp;высокому уровню сервиса</p>
    </a>
    <meta itemprop='position' content='2'>
  </div>
  <div itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="catalog__item col-xs-12 col-sm-6 col-lg-4">
    <a itemprop="url" href="#3" class="catalog__link">
      <svg class="catalog__item-icon catalog__item-icon--cruise" width="54" height="54"><use xlink:href="#icon-cruis"></use></svg>
      <h3 itemprop="name"><span>Отправиться <br> в&nbsp;круиз</span></h3>
      <span class="catalog__item-number"><b>20</b> Круизов</span>
      <p itemprop="description">Посмотрите все круизные предложения по&nbsp;озеру Байкал</p>
    </a>
    <meta itemprop='position' content='3'>
  </div>
  <div itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="catalog__item col-xs-12 col-sm-6 col-lg-4">
    <a itemprop="url" href="#4" class="catalog__link">
      <svg class="catalog__item-icon catalog__item-icon--excursion" width="54" height="54"><use xlink:href="#icon-excursion"></use></svg>
      <h3 itemprop="name"><span>Поехать <br> на&nbsp;экскурсию</span></h3>
      <span class="catalog__item-number"><b>15</b> программ</span>
      <p itemprop="description">Все варианты однодневных пеших, автомобильных и&nbsp;круизных экскурсий на&nbsp;Байкале</p>
    </a>
    <meta itemprop='position' content='4'>
  </div>
  <div itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="catalog__item col-xs-12 col-sm-6 col-lg-4">
    <a itemprop="url" href="#5" class="catalog__link">
      <svg class="catalog__item-icon catalog__item-icon--hotel" width="54" height="54"><use xlink:href="#icon-otel"></use></svg>
      <h3 itemprop="name"><span>Забронировать <br> отель</span></h3>
      <span class="catalog__item-number"><b>300</b> вариантов</span>
      <p itemprop="description">Подберите подходящий для вас отель, гостиницу или базу отдыха, используя удобные фильтры для поиска</p>
    </a>
    <meta itemprop='position' content='5'>
  </div>
  <div itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="catalog__item col-xs-12 col-sm-6 col-lg-4">
    <a itemprop="url" href="#6" class="catalog__link">
      <svg class="catalog__item-icon catalog__item-icon--guide" width="54" height="54"><use xlink:href="#icon-guide"></use></svg>
      <h3 itemprop="name"><span>Изучить <br> путеводитель</span></h3>
      <span class="catalog__item-number"><b>15</b> программ</span>
      <p itemprop="description">Узнайте подробно о&nbsp;видах и&nbsp;местах отдыха и&nbsp;достопримечательностях на&nbsp;Байкале</p>
    </a>
    <meta itemprop='position' content='6'>
  </div>
</section>
