<div class="container container--no-padding-all">
  <section class="choice" itemscope itemtype="https://schema.org/ImageObject">
    <h1 class="choice__text choice__text--excursion" itemprop="name">
      <span class="choice__orange">Все экскурсии</span>
      <span class="choice__white">По Байкалу</span>
    </h1>
    <div class="choice__img">
      <picture>
        <source media="(max-width: 521px)" srcset="img/choice-bg-mobile@1x.jpg 1x">
        <source media="(max-width: 991px)" srcset="img/choice-bg-tablet@1x.jpg 1x">
        <img itemprop="contentUrl" class="cover" src="img/choice-bg-desktop@1x.jpg" alt="Фанат Байкала">
      </picture>
    </div>
  </section>
</div>
