<section class="offer row" itemscope itemtype="http://schema.org/ItemList">
  <h2 itemprop="name">Подборки туров</h2>
  <ul class="offer__rate">
    <li class="offer__star offer__star--active">
      <span class="visually-hidden">1 звезда</span>
      <svg width="27" height="25">
        <use xlink:href="#icon-star"></use>
      </svg>
    </li>
    <li class="offer__star offer__star--active">
      <span class="visually-hidden">2 звезды</span>
      <svg width="27" height="25">
        <use xlink:href="#icon-star"></use>
      </svg>
    </li>
    <li class="offer__star offer__star--active">
      <span class="visually-hidden">3 звезды</span>
      <svg width="27" height="25">
        <use xlink:href="#icon-star"></use>
      </svg>
    </li>
    <li class="offer__star offer__star--active">
      <span class="visually-hidden">4 звезды</span>
      <svg width="27" height="25">
        <use xlink:href="#icon-star"></use>
      </svg>
    </li>
    <li class="offer__star offer__star--active">
      <span class="visually-hidden">5 звезд</span>
      <svg width="27" height="25">
        <use xlink:href="#icon-star"></use>
      </svg>
    </li>
  </ul>
  <ul class="offer__list">
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="offer__item col-xs-12 col-sm-6 col-lg-4">
      <a itemprop="url" href="#1">
        <img itemprop="image" class="cover" src="img/offer1.jpg" alt="Майские праздники">
        <h3 itemprop="name">Майские праздники</h3>
      </a>
      <meta itemprop='position' content='1'>
    </li>
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="offer__item col-xs-12 col-sm-6 col-lg-4">
      <a itemprop="url" href="#2">
        <img itemprop="image" class="cover" src="img/offer2.jpg" alt="Майские праздники">
        <h3 itemprop="name">Отдых с детьми</h3>
      </a>
      <meta itemprop='position' content='2'>
    </li>
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="offer__item col-xs-12 col-sm-6 col-lg-4">
      <a itemprop="url" href="#3">
        <img itemprop="image" class="cover" src="img/offer3.jpg" alt="Майские праздники">
        <h3 itemprop="name">Новогодние туры</h3>
      </a>
      <meta itemprop='position' content='3'>
    </li>
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="offer__item col-xs-12 col-sm-6 col-lg-4">
      <a itemprop="url" href="#4">
        <img itemprop="image" class="cover" src="img/offer4.jpg" alt="Майские праздники">
        <h3 itemprop="name">Горные лыжи</h3>
      </a>
      <meta itemprop='position' content='4'>
    </li>
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="offer__item col-xs-12 col-sm-6 col-lg-4">
      <a itemprop="url" href="#5">
        <img itemprop="image" class="cover" src="img/offer5.jpg" alt="Майские праздники">
        <h3 itemprop="name">Поход в пещеры</h3>
      </a>
      <meta itemprop='position' content='5'>
    </li>
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="offer__item col-xs-12 col-sm-6 col-lg-4">
      <a itemprop="url" href="#6">
        <img itemprop="image" class="cover" src="img/offer6.jpg" alt="Майские праздники">
        <h3 itemprop="name">Золотая осень</h3>
      </a>
      <meta itemprop='position' content='6'>
    </li>
  </ul>
  <div class="offer__load col-xs-12 col-sm-12 col-lg-12">
    <button class="offer__button" type="button">Показать еще 9 подборок</button>
  </div>
</section>

<template id="offer-template">
  <li class="offer__item col-xs-12 col-sm-6 col-lg-4">
    <a href="#">
      <img src="" alt="">
      <h3>Новогодние туры</h3>
    </a>
  </li>
</template>
