<section class="feedback row">
  <h2 class="feedback__heading">Отзывы</h2>
  <div class="feedback__slider swiper-container">
    <button class="feedback__slider-arrow feedback__slider-arrow--prev" type="button">
      <span class="visually-hidden">Предыдущий слайд</span>
      <svg width="28" height="51"><use xlink:href="#icon-arrow"></use></svg>
    </button>
    <button class="feedback__slider-arrow feedback__slider-arrow--next" type="button">
      <span class="visually-hidden">Следующий слайд</span>
      <svg width="28" height="51"><use xlink:href="#icon-arrow"></use></svg>
    </button>
    <ul class="feedback__list swiper-wrapper">
      <!--микроразметка для одного блока в списке отзывов-->
      <li class="feedback__item swiper-slide" itemscope itemtype="http://schema.org/Review">
        <div class="feedback__caption"  itemprop="itemReviewed">
          <img class="cover" src="img/userav1.jpg" alt="Анна Янчукова" itemscope itemtype="http://schema.org/ImageObject" itemprop="image">
          <p class="feedback__caption-text">
            <b class="feedback__caption-author" itemprop="author">Анна Янчукова</b>
            <span class="feedback__caption-tour" itemprop="name">Тур <a href="#">Дивные места Карелии</a> в&nbsp;2018 году</span>
            <meta itemprop="datePublished" content="2019-05-01">
          </p>
        </div>
        <p class="feedback__text" itemprop="reviewBody">На&nbsp;Байкале замечательно и&nbsp;комфортно отдыхать с&nbsp;маленькими детьми, если правильно спланировать свой отдых. В&nbsp;июле 2012 года совершили такую поездку, когда внучке было 1&nbsp;год 10&nbsp;мес ...</p>
        <a class="feedback__link" href="#">Читать во Вконтакте</a>
        <ul class="feedback__gallery">
          <li class="feedback__gallery-item" itemscope itemtype="http://schema.org/ImageObject">
            <a  href="img/userphoto1-large.jpg" data-lightbox="gallery1" data-title="Фото 1 пользователя Анна">
              <img itemprop="image" class="cover" src="img/userphoto1.jpg" alt="Фото">
              <meta itemprop="name" content="Фото Байкала">
            </a>
          </li>
          <li class="feedback__gallery-item" itemscope itemtype="http://schema.org/ImageObject">
            <a  href="img/userphoto2-large.jpg" data-lightbox="gallery1" data-title="Фото 2 пользователя Анна">
              <img class="cover" itemprop="image" src="img/userphoto2.jpg" alt="Фото">
              <meta itemprop="name" content="Фото Байкала">
            </a>
          </li>
          <li class="feedback__gallery-item" itemscope itemtype="http://schema.org/ImageObject">
            <a  href="img/userphoto3-large.jpg" data-lightbox="gallery1" data-title="Фото 3 пользователя Анна">
              <img class="cover" itemprop="image" src="img/userphoto3.jpg" alt="Фото">
              <meta itemprop="name" content="Фото Байкала">
            </a>
          </li>
          <li class="feedback__gallery-item" data-photos="14" itemscope itemtype="http://schema.org/ImageObject">
            <a  href="img/userphoto4-large.jpg" data-lightbox="gallery1" data-title="Фото 4 пользователя Анна">
              <img class="cover" itemprop="image" src="img/userphoto4.jpg" alt="Фото">
              <meta itemprop="name" content="Фото Байкала">
            </a>
          </li>
        </ul>
      </li>
      <li class="feedback__item swiper-slide">
        <div class="feedback__caption">
          <img class="cover" src="img/userav2.jpg" alt="Анастасия Кузнецова">
          <p class="feedback__caption-text">
            <b class="feedback__caption-author">Анастасия Кузнецова</b>
            <span class="feedback__caption-tour">Тур <a href="#">Супер-пупер тур на Байкал</a> в&nbsp;2025 году</span>
          </p>
        </div>
        <p class="feedback__text">Были в&nbsp;Байкальске летом, тур был очень интересный и&nbsp;разнообразный. Увидели окружающую природу: горные реки с&nbsp;ледяной,чистейшей водой, подножие Хамар Дабана с&nbsp;реликтовыми деревьями и&nbsp;огромными ...</p>
        <a class="feedback__link" href="#">Читать во Вконтакте</a>
        <ul class="feedback__gallery">
          <li class="feedback__gallery-item">
            <a  href="img/userphoto5-large.jpg" data-lightbox="gallery2" data-title="Фото 1 пользователя Анастасия">
              <img class="cover" src="img/userphoto5.jpg" alt="Фото">
            </a>
          </li>
          <li class="feedback__gallery-item">
            <a  href="img/userphoto6-large.jpg" data-lightbox="gallery2" data-title="Фото 2 пользователя Анастасия">
              <img class="cover" src="img/userphoto6.jpg" alt="Фото">
            </a>
          </li>
          <li class="feedback__gallery-item">
            <a  href="img/userphoto7-large.jpg" data-lightbox="gallery2" data-title="Фото 3 пользователя Анастасия">
              <img class="cover" src="img/userphoto7.jpg" alt="Фото">
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
