<section class="header-fixed header-fixed__new">
  <h2 class="visually-hidden">Связаться с нами</h2>
  <div class="container">
    <!-- Прилипающая шапка -->
    <div class="row header-fixed-row">
      <div class="header-fixed__call-us">
        <svg width="30" height="30" class="header-fixed__call-us-svg">
          <use xlink:href="#icon-fh-telephone"></use>
        </svg>
        <ul class="header-fixed__call-us-list">
          <li>
            <a href="tel:+73952480539">+7 (3952) 480-539</a>
            <span>Иркутск</span>
          </li>
          <li>
            <a href="tel:+74994040538">+7 (499) 40-40-538</a>
            <span>Москва</span>
          </li>
        </ul>
      </div>

      <div class="header-fixed__messager">
        <p>Любим общаться в мессенджерах!</p>
        <ul class="header-fixed__messager-list">
          <li>
            <a href="https://api.whatsapp.com/send?phone=74994040538">
              <svg class="" width="22" height="22">
                <use xlink:href="#icon-fh-whatsapp"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="" width="22" height="22">
                <use xlink:href="#icon-fh-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="viber://chat?number=+74994040538">
              <svg class="" width="22" height="24">
                <use xlink:href="#icon-fh-viber"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a class="header-fixed__messager-number" href="tel:+74994040538">+7 (499) 40-40-538</a>
      </div>
      <div class="header-fixed__collback-new">
        <div class="callback callback--fixed">
          <a class="callback__button callback__button" href="#">Заказать обратный звонок</a>
        </div>
      </div>
    </div>
  </div>
</section>
