<section class="header-fixed">
  <h2 class="visually-hidden">Связаться с нами</h2>
  <div class="container">
    <!-- Прилипающая шапка -->
    <div class="row">
      <div class="header-fixed__left col-xs-12 col-sm-6 col-lg-4">
        <img class="header-fixed__logo" src="img/logo-fixed.png" width="50" height="50" alt="Фанат Байкала">
        <span class="header-fixed__phone">+7 914 012-75-00</span>
        <div class="social social--fixed">
          <ul class="social__list header-fixed__social-list">
            <li class="social__item social__item--facebook">
              <a class="social__link" href="#" target="_blank">
                <span class="visually-hidden"> Facebook</span>
                <svg width="22" height="22"><use xlink:href="#icon-facebook"></use></svg>
              </a>
            </li>
            <li class="social__item social__item--vkontakte">
              <a class="social__link" href="#" target="_blank">
                <span class="visually-hidden">Вконтакте</span>
                <svg width="22" height="22"><use xlink:href="#icon-vkontakte"></use></svg>
              </a>
            </li>
            <li class="social__item social__item--instagram">
              <a class="social__link" href="#" target="_blank">
                <span class="visually-hidden">Instagram</span>
                <svg width="22" height="22"><use xlink:href="#icon-instagram"></use></svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header-fixed__central col-xs-6 col-sm-2 col-lg-2">
        <span class="header-fixed__phone">+7 914 012-75-00</span>
      </div>
      <div class="header-fixed__right col-xs-12 col-sm-6 col-lg-6">
        <div class="header-fixed__text">
          <p class="header-fixed__p">Нет времени искать тур?</p>
          <p>Подберем бесплатно специально для Вас</p>
        </div>
        <div class="callback callback--fixed">
          <a class="callback__button" href="#">Заказать обратный звонок</a>
        </div>
      </div>
    </div>
  </div>
</section>
