<div class="director col-xs-12 col-sm-12 col-lg-6" itemscope itemtype="https://schema.org/ImageObject">
  <figure class="director__img">
    <img itemprop="contentUrl" class="cover" src="img/portret.png" alt="Генеральный директор">
  </figure>
  <p class="director__h" itemprop="name">Жора, генеральный директор:</p>
  <p class="director__quote" itemprop="description">Не&nbsp;можете определиться с&nbsp;местом отдыха? Вы&nbsp;можете связаться напрямую с&nbsp;туроператорами или оставить заявку, и&nbsp;мы&nbsp;поможем вам найти лучшую историю из&nbsp;всех возможных!</p>
</div>
