<div class="row" itemscope itemtype='http://schema.org/ItemList'>
  <meta itemprop="name" content="Подборка популярных туров">
  <ul class="popular popular__list more-tours-popular">
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="popular__item popular__item--large col-xs-12 col-sm-4 col-lg-4">
      <a itemprop="url" href="#1">
        <img itemprop="image" src="img/choice-popular1.jpg"  alt="Популярные туры" class="cover">
        <div class="bottom-shadow"></div>
        <div class="popular__item-price">
          <h3 itemprop="name">Байкальское приключение</h3>
          <p>от 44 000 руб</p>
        </div>
      </a>
      <meta itemprop='position' content='1'>
    </li>
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="popular__item popular__item--large col-xs-12 col-sm-4 col-lg-4">
      <a itemprop="url" href="#2">
        <img itemprop="image" src="img/choice-popular2.jpg" alt="Популярные туры" class="cover">
        <div class="bottom-shadow"></div>
        <div class="popular__item-price">
          <h3 itemprop="name">Заплыв на каяках по&nbsp;Байкалу</h3>
          <p>от 44 000 руб</p>
        </div>
      </a>
      <meta itemprop='position' content='2'>
    </li>
    <li itemprop="itemListElement" itemscope itemtype='http://schema.org/ListItem' class="popular__item popular__item--large col-xs-12 col-sm-4 col-lg-4">
      <a itemprop="url" href="#3">
        <img itemprop="image" src="img/choice-popular3.jpg" alt="Популярные туры" class="cover">
        <div class="bottom-shadow"></div>
        <div class="popular__item-price">
          <h3 itemprop="name">Байкальское приключение</h3>
          <p>от 44 000 руб</p>
        </div>
      </a>
      <meta itemprop='position' content='3'>
    </li>
  </ul>
</div>
