<div class="row" itemscope itemType="http://schema.org/ItemList">
  <ul class="popular popular__list popular__list--article">
    <li itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem' class="popular__item popular__item--article  popular__item--small col-xs-12 col-sm-4 col-lg-4">
      <a href="#">
        <img itemprop="url image" class="cover" src="img/article-included1.jpg" alt="Популярные туры">
        <div class="bottom-shadow"></div>
        <div class="popular__item-price popular__item-price--article">
          <h3 itemprop="description">Заплыв на каяках по Байкалу</h3>
          <p>от 44 000 руб</p>
        </div>
        <meta itemprop='position' content='1'>
      </a>
    </li>
    <li itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem' class="popular__item popular__item--article popular__item--small col-xs-12 col-sm-4 col-lg-4">
      <a href="#">
        <img itemprop="url image" class="cover" src="img/article-included2.jpg" alt="Популярные туры">
        <div class="bottom-shadow"></div>
        <div class="popular__item-price popular__item-price--article">
          <h3 itemprop="description">Заплыв на каяках по&nbsp;Байкалу</h3>
          <p>от 44 000 руб</p>
        </div>
        <meta itemprop='position' content='2'>
      </a>
    </li>
    <li itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem' class="popular__item popular__item--article popular__item--small col-xs-12 col-sm-4 col-lg-4">
      <a href="#">
        <img itemprop="url image" class="cover" src="img/article-included3.jpg" alt="Популярные туры">
        <div class="bottom-shadow"></div>
        <div class="popular__item-price popular__item-price--article">
          <h3 itemprop="description">Заплыв на каяках по Байкалу</h3>
          <p>от 44 000 руб</p>
        </div>
        <meta itemprop='position' content='3'>
      </a>
    </li>
  </ul>
</div>
