<section class="request-response request-response--js modal">
  <div class="request-response__block modal__block">
    <button class="modal__close" type="button"><span class="visually-hidden">Закрыть окно</span></button>
    <svg width="58" height="58" class="request-response__tick">
      <use xlink:href="#icon-response-tick"></use>
    </svg>
    <h2 class="modal__heading request-response__heading">Спасибо за заявку!</h2>
    <p class="request-response__text">Мы позвоним вам в течение суток!</p>
    <div class="request-response__bar"></div>
    <div class="request-response__social">
      <p class="request-response__social-text">Следите за нами:</p>
      <ul class="request-response__social-list  social">
        <li class="request-response__social-item request-response__social-item--vkontakte">
          <a class="social__link" href="#" target="_blank">
            <span class="visually-hidden">Вконтакте</span>
            <svg width="37" height="37">
              <use xlink:href="#icon-vkontakte"></use>
            </svg>
          </a>
        </li>
       <li class="request-response__social-item request-response__social-item--instagram">
          <a class="social__link" href="#" target="_blank">
            <span class="visually-hidden">Instagram</span>
            <svg width="37" height="37">
              <use xlink:href="#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="request-response__social-item request-response__social-item--facebook">
          <a class="social__link" href="#" target="_blank">
            <span class="visually-hidden">Facebook</span>
            <svg width="37" height="37">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>
