<section class="tickets tickets--tour row">
  <div class="tickets__img">
    <img  class="cover" src="img/bg-tickets.png" alt="Байкал">
  </div>
  <h2 class="tickets__heading">Купить Авиабилеты</h2>
  <div class="tickets__block tickets__block--tour">
    <script
      src="//www.travelpayouts.com/calendar_widget/iframe.js?marker=214841.&origin=MOW&destination=BKK&currency=rub&searchUrl=hydra.aviasales.ru&one_way=false&only_direct=false&locale=ru&period=year&range=7%2C14&powered_by=true&width=800"></script>
  </div>
</section>
