.progress__month.housing.progress-tab
  .housing__slider
    .housing__slider-container.img-content
      .housing__slides
        .housing__slider-slide
          img(src="img/progress@1x.jpg" alt="Невероятные квартиры" srcset="img/progress@2x.jpg 2x")
        .housing__slider-slide
          img(src="img/lobby-2@1x.jpg" alt="Невероятные квартиры" srcset="img/lobby-2@1x.jpg 2x")
        .housing__slider-slide
          img(src="img/garden-1@1x.jpg" alt="Невероятные квартиры" srcset="img/garden-1@1x.jpg 2x")
        .housing__slider-slide
          img(src="img/garden-2@1x.jpg" alt="Невероятные квартиры" srcset="img/garden-2@1x.jpg 2x")

    .count-cursor.count.visually-hidden
      span.back.visually-hidden
        svg( width="13" height="35" viewBox="0 0 20 37" fill="none" xmlns="http://www.w3.org/2000/svg" )
          path( d="M9.8999 1.90002V35.8" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" )
          path( d="M18.1001 27.7L9.9001 35.9L1.6001 27.7" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" )
      span.current 1
      span  /
      span.total
      span.next
        svg( width="13" height="35" viewBox="0 0 20 37" fill="none" xmlns="http://www.w3.org/2000/svg" )
          path( d="M9.8999 1.90002V35.8" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" )
          path( d="M18.1001 27.7L9.9001 35.9L1.6001 27.7" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" )
