.account-content {
  margin-bottom: 244px;
}

.account-content__flex-wrapper {
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}