.common-decoration-lines {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 70px;
    height: 1px;
    opacity: 0.24;
    background-color: $default-text;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
