.password-replacement {
  padding-left: 20px;
  padding-right: 23px;
  padding-bottom: 29px;
  padding-top: 9px;
  border-radius: 3px;
  border: solid 1px $field-shadow-color;
}

.password-replacement__title {
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
  line-height: 1.63;
  letter-spacing: 0.6px;
  font-size: 16px;
  font-family: $fontSerif;
  text-transform: uppercase;
  font-weight: normal;
}

.password-replacement__block {
  margin-bottom: 20px;

  &--big-margin {
    margin-bottom: 30px;
  }
}

.password-replacement__checkbox {
  margin-bottom: 30px; 
}