.surraundings-content.surraundings-gallery__item.tab
  .surraundings-content__list.surraundings-list
    .surraundings-list__item.surraundings-list__item--revers.surraundings-list__scroll-container.surraundings-list__scroll-container--6
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--31
        .surraundings-list__desc
          span 1 / 5
          p Погрузиться в настоящее гастрономическое путешествие Депо.Москва
          .sub
            p
              | 10 минут на авто
      .surraundings-list__content.square-block.scroll-block.scroll-block--32
        img(src='img/depo-tables@1x.jpg', alt='', srcset='img/depo-tables@2x.jpg 2x')
      .surraundings-list__content.square-block.scroll-block.scroll-block--33
        img(src='img/depo-snails@1x.jpg' alt='' srcset='img/depo-snails@2x.jpg 2x')
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--34
        .surraundings-list__desc
          span 2 / 5
          p Найти свое любимое блюдо в каждой национальной кухне

    .surraundings-list__item.surraundings-list__item--fullscreen.paralax-section.paralax-section--8
      .surraundings-list__content.paralax-section-content.paralax-section-content--8
        img(src='img/depo-mall@1x.jpg' alt='' srcset='img/depo-mall@2x.jpg 2x')

    .surraundings-list__item.surraundings-list__item--revers
      .surraundings-list__content.surraundings-list__content--text.square-block
        .surraundings-list__desc
          span 3 / 5
          p Заказать домой доставку свежайших фруктов, овощей и морепродуктов
          .sub
            p
              | Сервис Яндекс.Еда доставит продукты рынка или корнеров всего за 32 минуты
      .surraundings-list__content.square-block
        img(src='img/depo-fruits@1x.jpg' alt='' srcset='img/depo-fruits@2x.jpg 2x')

    .surraundings-list__item.surraundings-list__item--fullscreen.paralax-section.paralax-section--9
      .surraundings-list__content.paralax-section-content.paralax-section-content--9
        img(src='img/depo-crab@1x.jpg' alt='' srcset='img/depo-crab@2x.jpg 2x')
    .surraundings-list__item.surraundings-list__item--fullscreen.paralax-section.paralax-section--10
      .surraundings-list__content.paralax-section-content.paralax-section-content--10
        img(src='img/depo-mall2@1x.jpg' alt='' srcset='img/depo-mall2@2x.jpg 2x')


    .surraundings-list__item.surraundings-list__scroll-container.surraundings-list__scroll-container--7
      .surraundings-list__content.square-block.scroll-block.scroll-block--35
        img(src='img/depo-wine@1x.jpg' alt='' srcset='img/depo-wine@2x.jpg 2x')
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--36
        .surraundings-list__desc
          span 4 / 5
          p Дегустировать вино во время лекций мировых сомелье

      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--37
        .surraundings-list__desc
          span 5 / 5
          p Вместе с детьми приготовить свою первую пиццу на кулинарном мастер-классе

      .surraundings-list__content.square-block.scroll-block.scroll-block--38
        img(src='img/depo-bake@1x.jpg' alt='' srcset='img/depo-bake@2x.jpg 2x')

    .surraundings-list__item.surraundings-list__item--fullscreen.paralax-section.paralax-section--11
      .surraundings-list__content.paralax-section-content.paralax-section-content--11
        img(src='img/depo-fire@1x.jpg' alt='' srcset='img/depo-fire@2x.jpg 2x')

    .surraundings-list__item.surraundings-list__item--fullscreen.gradient-bottom
      .surraundings-list__content
        img(src='img/depo-patio@1x.jpg' alt='' srcset='img/depo-patio@2x.jpg 2x')
