.surraundings-content.surraundings-gallery__item.tab
  .surraundings-content__list.surraundings-list
    .surraundings-list__item.surraundings-list__scroll-container.surraundings-list__scroll-container--3
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--13
        .surraundings-list__desc
          span 1 / 6
          p Отправиться в зоопарк в самый ранний час
          .sub
            p
              | 10 минут пешком
      .surraundings-list__content.square-block.scroll-block.scroll-block--14
        img(src='img/zoo-pond@1x.jpg', alt='', srcset='img/zoo-pond@2x.jpg 2x')
      .surraundings-list__content.square-block.scroll-block.scroll-block--15
        img(src='img/zoo-leopard@1x.jpg' alt='' srcset='img/zoo-leopard@2x.jpg 2x')
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--16
        .surraundings-list__desc
          span 2 / 6
          p Прочувствовать умиротворение и спокойствие

    .surraundings-list__item.surraundings-list__item--fullscreen.paralax-section.paralax-section--3
      .surraundings-list__content.paralax-section-content.paralax-section-content--3
        img(src='img/zoo-view@1x.jpg' alt='' srcset='img/zoo-view@2x.jpg 2x')

    .surraundings-list__item.surraundings-list__scroll-container.surraundings-list__scroll-container--4
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--17
        .surraundings-list__desc
          span 3 / 6
          p Послушать лекции и экскурсии о редких животных
      .surraundings-list__content.square-block.scroll-block.scroll-block--18
        img(src='img/zoo-monster@1x.jpg' alt='' srcset='img/zoo-monster@2x.jpg 2x')
      .surraundings-list__content.square-block.scroll-block.scroll-block--19
        img(src='img/zoo-flamingo@1x.jpg' alt='' srcset='img/zoo-flamingo@2x.jpg 2x')
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--20
        .surraundings-list__desc
          span 4 / 6
          p Вместе с детьми покормить фламинго
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--21
        .surraundings-list__desc
          span 5 / 6
          p Проникнуться оазисом природы в центре Москвы
      .surraundings-list__content.square-block.scroll-block.scroll-block--22
        img(src='img/zoo-fly@1x.jpg' alt='' srcset='img/zoo-fly@2x.jpg 2x')
      .surraundings-list__content.square-block.scroll-block.scroll-block--23
        picture
          img(src='img/zoo-peacock@1x.jpg' alt='' srcset='img/zoo-peacock@2x.jpg 2x')
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--24
        .surraundings-list__desc
          span 6 / 6
          p Взять животное под опеку и ощутить свою причастность к делу сохранения природы
          .sub
            p
              | Ежегодная оплата содержания любого животного в Зоопарке

    .surraundings-list__item.surraundings-list__item--fullscreen.gradient-bottom
      .surraundings-list__content
        img(src='img/zoo-deer@1x.jpg' alt='' srcset='img/zoo-deer@2x.jpg 2x')
