.surraundings-content.surraundings-gallery__item.tab
  .surraundings-content_list.surraundings-list
    .surraundings-list__item
      .surraundings-list__content.square-block
        img(src='img/ponds-dog@1x.jpg', alt='', srcset='img/ponds-dog@2x.jpg 2x')
      .surraundings-list__content.surraundings-list__content--text.square-block
        .surraundings-list__desc
          span 1 / 6
          p Прогуляться с собакой на Патриарших прудах
          .sub
            p
              | В пути всего 20 минут. Можно присоединиться к общему чату любителей собак и вместе гулять с питомцами

    .surraundings-list__item.surraundings-list__item--fullscreen.paralax-section.paralax-section--5
      .surraundings-list__content.paralax-section-content.paralax-section-content--5
        img(src='img/ponds-view@1x.jpg' alt='' srcset='img/ponds-view@2x.jpg 2x')

    .surraundings-list__item.surraundings-list__item--revers
      .surraundings-list__content.surraundings-list__content--text.square-block
        .surraundings-list__desc
          span 2 / 6
          p Исследовать кофейни и рестораны гастрономической мекки Москвы
          .sub
            p
              | Аист, Maritozzo, Uilliam’s, Saxon + Parole, Remy Kitchen Bakery, Ladurée Moscow, Avocado Queen
      .surraundings-list__content.square-block
        img(src='img/ponds-coffee@1x.jpg' alt='' srcset='img/ponds-coffee@2x.jpg 2x')

    .surraundings-list__item.surraundings-list__item--fullscreen.paralax-section.paralax-section--6
      .surraundings-list__content.paralax-section-content.paralax-section-content--6
        img(src='img/ponds-terrace@1x.jpg' alt='' srcset='img/ponds-terrace@2x.jpg 2x')

    .surraundings-list__item.surraundings-list__item--revers
      .surraundings-list__content.surraundings-list__content--text.square-block
        .surraundings-list__desc
          span 3 / 6
          p Влюбиться в самобытную атмосферу Патриков
      .surraundings-list__content.square-block
        img(src='img/ponds-street@1x.jpg' alt='' srcset='img/ponds-street@2x.jpg 2x')

    .surraundings-list__item.surraundings-list__item--fullscreen.paralax-section.paralax-section--7
      .surraundings-list__content.paralax-section-content.paralax-section-content--7
        img(src='img/ponds-monti@1x.jpg' alt='' srcset='img/ponds-monti@2x.jpg 2x')

    .surraundings-list__item.surraundings-list__scroll-container.surraundings-list__scroll-container--5
      .surraundings-list__content.square-block.scroll-block.scroll-block--25
        img(src='img/ponds-theater@1x.jpg' alt='' srcset='img/ponds-theater@2x.jpg 2x')
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--26
        .surraundings-list__desc
          span 4 / 6
          p Вдохновиться экспериментальнымм спектаклем
          .sub
            p
              | Электротеатр Станиславский, Театр Практика, Театр на Малой Бронной, Театр Сатиры
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--27
        .surraundings-list__desc
          span 5 / 6
          p Открыться новому, сильнодействующему искусству
          .sub
            p
              | Московский Музей Современного Искусства, Ермолаевский. 17
      .surraundings-list__content.square-block.scroll-block.scroll-block--28
        img(src='img/ponds-lights@1x.jpg' alt='' srcset='img/ponds-lights@2x.jpg 2x')
      .surraundings-list__content.square-block.scroll-block.scroll-block--29
        img(src='img/ponds-drink@1x.jpg' alt='' srcset='img/ponds-drink@2x.jpg 2x')
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--30
        .surraundings-list__desc
          span 6 / 6
          p Насладиться прохладным коктейлем на открытой веранде
          .sub
            p
              | Grand Cru, Pinch, Киану, Happy End

    .surraundings-list__item.surraundings-list__item--fullscreen.gradient-bottom
      .surraundings-list__content
        img(src='img/ponds-people@1x.jpg' alt='' srcset='img/ponds-people@1x.jpg 2x')
