.surraundings-content.surraundings-gallery__item.is-active.tab
  .surraundings-content__list.surraundings-list
    .surraundings-list__item.surraundings-list__scroll-container
      .surraundings-list__content.square-block.scroll-block.scroll-block--1
        img(src='img/gruzinskaya-trees@1x.jpg', alt='', srcset='img/gruzinskaya-trees@2x.jpg 2x').thumbnail
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--2
        .surraundings-list__desc
          span 1 / 7
          p Пройтись по аллеям ближайших уютных скверов
          .sub
            p
              | 6—12 минут пешком
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--3
        .surraundings-list__desc
          span 2 / 7
          p Отвлечься от суеты и раствориться в симфонии звуков
          .sub
            p
              | Концертный зал имени<br>П. И. Чайковского
      .surraundings-list__content.square-block.scroll-block.scroll-block--4
        img(src='img/gruzinskaya-music@1x.jpg' alt='' srcset='img/gruzinskaya-music@2x.jpg 2x')

    .surraundings-list__item.surraundings-list__item--fullscreen.paralax-section.paralax-section--1
      .surraundings-list__content.paralax-section-content.paralax-section-content--1
        img(src='img/gruzinskaya-park@1x.jpg' alt='' srcset='img/gruzinskaya-park@2x.jpg 2x')

    .surraundings-list__item.surraundings-list__scroll-container.surraundings-list__scroll-container--1
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--5
        .surraundings-list__desc
          span 3 / 7
          p Вместе с детьми пройти квест в Московском Планетарии
      .surraundings-list__content.square-block.scroll-block.scroll-block--6
        img(src='img/gruzinskaya-planetarium@1x.jpg' alt='' srcset='img/gruzinskaya-planetarium@2x.jpg 2x')

      .surraundings-list__content.square-block.scroll-block.scroll-block--7
        img(src='img/gruzinskaya-lamaree@1x.jpg' alt='' srcset='img/gruzinskaya-lamaree@2x.jpg 2x')
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--8
        .surraundings-list__desc
          span 4 / 7
          p Пообедать в легендарном рыбном ресторане
          .sub
            p
              | 4 минуты пешком

    .surraundings-list__item.surraundings-list__item--reverse.surraundings-list__scroll-container.surraundings-list__scroll-container--2
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--9
        .surraundings-list__desc
          span 5 / 7
          p Заглянуть в неоготический католический собор
          .sub
            p
              | 3 минуты пешком
      .surraundings-list__content.square-block.scroll-block.scroll-block--10
        img(src='img/gruzinskaya-church@1x.jpg' alt='' srcset='img/gruzinskaya-church@2x.jpg 2x')

      .surraundings-list__content.square-block.scroll-block.scroll-block--11
        img(src='img/gruzinskaya-gym@1x.jpg' alt='' srcset='img/gruzinskaya-gym@2x.jpg 2x')
      .surraundings-list__content.surraundings-list__content--text.square-block.scroll-block.scroll-block--12
        .surraundings-list__desc
          span 6 / 7
          p Провести ударную тренировку в ближайшем фитнес-клубе
          .sub
            p
              | World Class на Климашкина<br>World Class на Большой Грузинской<br>Фитнес-клуб Svelte

    .surraundings-list__item.surraundings-list__item--fullscreen.gradient-swap-mobile.paralax-section.paralax-section--2
      .surraundings-list__content.paralax-section-content.paralax-section-content--2
        img(src='img/gruzinskaya-car@1x.jpg' alt='' srcset='img/gruzinskaya-car@2x.jpg 2x')

    .surraundings-list__item.gradient-bottom.gradient-swap
      .surraundings-list__content.surraundings-list__content--text.square-block
        .surraundings-list__desc
          span 7 / 7
          p Спонтанно рвануть в путешествие и без пробок долететь до аэропорта
          .sub
            p
              | В 10 минутах от дома Белорусский вокзал. Аэроэкспрессы в Шереметьево отправляются каждый полчаса
      .surraundings-list__content.square-block
        img(src='img/gruzinskaya-airport@1x.jpg' alt='', srcset='img/gruzinskaya-airport@2x.jpg 2x')
