mixin svg( name, width, height )
  svg( width=("" + width) height=("" + height) aria-hidden="true" )
    use( xlink:href=("img/sprite.svg#" + name) )

mixin svg-logo
  svg( class=(isMain ? null : 'header__logo-full') width=(isMain ? '683' : '125') height=(isMain ? '674' : '123') viewBox="0 0 466 476" aria-hidden="true" )
    path( d="M106.309 62.7659H122.871C118.261 60.2022 116.383 56.2713 116.383 51.4857C116.383 39.6928 116.383 27.7289 116.383 13.7142L158.898 63.6205V61.7404C158.898 46.0165 158.898 30.2926 158.898 14.7396C158.898 9.09953 160.606 4.65582 165.045 2.43396H148.654C153.776 5.33947 155.142 9.61227 155.142 14.9105C155.142 21.9179 155.142 29.0962 155.142 36.1036V38.4964C150.532 33.0272 136.701 16.6197 125.603 3.63035C125.091 3.11761 124.237 2.60487 123.554 2.60487C118.261 2.43396 112.626 2.43396 105.967 2.43396C111.26 5.33947 112.456 9.61227 112.456 14.7396C112.456 27.2162 112.456 42.2565 112.456 51.8275C112.626 56.6131 110.236 60.715 106.309 62.7659ZM20.0826 27.8999V5.68129C22.9853 5.68129 25.888 5.68129 28.6199 5.68129C29.9858 5.68129 31.1811 5.68129 32.547 5.68129C40.2305 5.68129 43.3039 12.8596 47.4018 21.9179C47.0603 15.7651 46.7188 10.125 46.5481 4.48491C46.3774 2.77579 45.8651 2.43396 44.1577 2.43396C30.1566 2.43396 16.3262 2.43396 2.32515 2.43396H0.44696C3.17888 3.80126 6.59378 7.04859 6.59378 13.7142C6.59378 26.5326 6.59378 39.351 6.59378 52.1694C6.59378 56.6131 4.54484 60.715 0.105469 63.1077H26.4002C21.7901 60.5441 19.9119 56.9549 19.9119 52.1694V32.0017C21.4486 31.489 22.6438 31.489 23.839 31.489C29.9858 31.489 33.23 35.5909 35.2789 41.5728V19.6961C32.3763 26.1907 28.4491 28.5835 24.0098 28.5835C23.156 28.5835 21.6193 28.4126 20.0826 27.8999ZM359.524 5.8522V51.8275C359.524 56.2713 357.816 59.8604 354.06 62.2532C353.889 62.4241 353.718 62.595 353.377 62.7659H379.33C374.378 60.0313 373.012 55.9294 373.012 51.1439V5.8522C374.378 5.33947 376.086 5.33947 377.452 5.33947C385.306 5.33947 389.404 12.8596 393.502 23.4561L392.307 2.43396H340.229L339.205 23.2852C344.669 10.6377 348.425 5.33947 355.255 5.33947C357.304 5.33947 359.182 5.68129 359.524 5.8522ZM75.9162 62.7659H103.406C98.7961 59.6895 96.5764 55.0749 94.6982 50.4603C86.5024 31.6599 75.5747 5.51038 73.1843 0.895752C70.7939 6.36494 63.6226 24.4816 57.988 38.8382C54.7439 47.2129 51.1582 56.784 44.1577 62.9368H60.5492C57.8173 61.7404 54.7439 59.5186 55.5976 54.7331C56.2806 51.6566 57.8173 48.2384 58.8417 45.3329L58.3295 46.1874C65.1593 46.1874 71.9891 46.1874 78.9896 46.1874C78.9896 45.8456 77.6237 44.1365 77.2822 44.1365C77.2822 44.1365 77.4529 44.3074 77.4529 44.4783C79.1604 48.2384 80.8678 52.3403 80.8678 55.4167C80.8678 58.4931 79.3311 60.715 75.9162 62.7659ZM59.6955 42.5983C62.4274 35.42 64.9886 28.4126 67.8912 21.0634C70.9646 28.5835 73.6965 35.42 76.5992 42.5983H59.6955ZM409.552 67.7224C417.748 57.1258 426.285 46.5293 434.651 35.9327C437.042 33.1981 439.944 31.6599 443.189 31.6599C444.042 31.6599 444.896 31.8308 445.579 32.0017C438.749 26.5326 432.09 21.2343 425.602 15.936C426.114 17.1324 426.456 18.4997 426.456 19.867C426.456 22.6016 425.431 25.5071 423.211 28.5835C415.357 38.4964 407.332 48.5802 399.478 58.4931C396.746 61.7404 393.843 63.1077 390.087 63.1077C389.404 63.1077 388.55 63.1077 387.697 62.9368C394.697 68.406 401.356 73.8752 408.186 79.3444C407.503 77.6353 407.161 75.9261 407.161 74.217C407.161 71.9952 407.844 69.7733 409.552 67.7224ZM415.016 224.791H451.043C457.19 224.791 461.117 227.354 463.166 230.772V205.136C461.458 208.212 457.19 211.459 451.043 211.459H437.383V189.754L450.872 189.924C457.36 189.924 460.775 191.292 463.166 195.906V170.27C459.922 175.568 457.361 176.422 450.531 176.422C439.091 176.422 427.48 176.422 415.869 176.422C410.918 176.422 405.796 175.055 402.893 170.099V196.248C405.966 190.95 410.406 189.924 416.04 189.924H434.139V211.459H415.357C410.064 211.459 406.649 211.288 403.064 205.307V231.456C406.137 225.645 408.698 224.791 415.016 224.791ZM413.991 114.723C413.991 103.443 424.748 94.0428 442.506 94.0428C452.921 94.0428 461.629 99.1702 461.8 108.229C461.971 117.287 454.458 124.294 446.091 128.396V128.567H463.507C464.873 122.585 465.385 116.432 465.044 109.938C464.19 93.1883 451.897 80.7117 432.602 80.7117C416.382 80.7117 402.21 93.3592 402.21 109.596C402.21 124.294 413.479 132.327 423.724 133.524C419.797 130.618 413.991 125.32 413.991 114.723ZM433.456 240.002C416.552 240.002 401.698 251.966 401.698 269.911C401.698 287.857 416.04 299.137 432.432 299.65C432.602 299.65 432.773 299.65 432.944 299.65C450.018 299.65 464.361 287.344 464.361 269.569C464.361 251.795 450.531 240.002 433.456 240.002ZM404.771 272.304C404.771 259.828 421.504 255.042 436.7 255.042C448.994 255.042 461.458 258.289 461.458 267.006C461.458 278.286 445.067 284.61 428.675 284.61C416.552 284.61 404.771 280.508 404.771 272.304ZM450.701 354.855H422.87C411.089 354.855 405.966 348.531 405.966 341.694C405.966 334.345 410.918 328.363 421.163 328.363H451.043C456.677 328.363 460.946 330.927 462.995 334.516V308.879C460.092 313.494 455.995 314.861 451.043 314.861H422.358C408.186 314.861 401.527 324.603 401.527 337.763C401.527 350.924 410.406 358.957 422.187 358.957H450.701C456.678 358.957 460.434 361.007 462.995 366.135V347.334C459.751 353.145 455.824 354.855 450.701 354.855ZM425.26 397.07C422.699 402.71 419.626 409.376 413.82 409.376C408.357 409.376 405.283 405.103 405.283 399.121C405.283 386.473 419.114 378.611 426.114 375.364H402.381C403.576 377.757 404.088 379.979 404.088 382.371C404.088 387.328 402.21 392.284 402.21 398.095C402.21 410.743 409.552 418.434 419.626 418.434C433.115 418.434 436.188 406.47 441.14 395.532C443.53 390.233 445.75 383.226 452.409 383.055C452.58 383.055 452.58 383.055 452.58 383.055C457.531 383.055 461.117 387.499 461.117 393.139C461.117 405.274 449.335 412.794 443.189 415.357C450.189 415.016 456.677 414.674 462.995 414.332C463.678 407.496 464.532 402.71 464.532 395.532C464.532 380.833 455.995 373.826 445.921 373.826C433.456 373.997 429.87 386.986 425.26 397.07ZM406.137 447.318H433.627C434.139 448.173 434.139 449.711 434.139 450.736C434.139 456.718 430.041 459.795 424.065 462.017H445.921C439.432 459.795 436.871 455.18 436.871 450.907C436.871 449.711 437.042 448.173 437.554 447.147H459.751C459.751 449.54 459.751 452.104 459.751 454.496C459.751 455.864 459.751 456.889 459.751 458.256C459.58 468.853 451.043 470.904 444.042 473.638C449.848 473.468 455.653 473.126 461.458 472.784C462.824 472.613 463.166 472.271 463.166 470.904C463.166 456.376 463.166 451.42 463.166 427.321C460.434 432.107 455.824 433.474 450.531 433.474C438.408 433.474 426.456 433.474 414.333 433.474C408.869 433.474 404.942 430.91 402.893 427.15V473.98L422.187 475.348C407.674 468.511 406.137 459.282 406.137 447.318ZM308.983 40.7183C314.618 43.2819 321.277 46.3584 321.277 52.1694C321.277 57.6386 317.008 60.715 311.032 60.715C298.397 60.715 290.543 46.8711 287.298 39.8637V63.6205C289.689 62.4241 291.909 61.9114 294.299 61.9114C299.251 61.9114 304.202 63.7914 310.008 63.7914C322.643 63.7914 330.326 56.4422 330.326 46.3584C330.326 32.8563 318.374 29.7799 307.446 24.8234C302.153 22.4307 295.153 20.2088 294.982 13.5432C294.982 13.3723 294.982 13.3723 294.982 13.3723C294.982 8.41588 299.421 4.82673 305.056 4.82673C317.179 4.82673 324.692 16.6197 327.253 22.7725C326.911 15.7651 326.57 9.27044 326.228 2.9467C319.399 2.26305 314.618 1.40849 307.446 1.40849C292.762 1.40849 285.762 9.95409 285.762 20.0379C285.933 32.3436 299.08 35.9327 308.983 40.7183ZM253.491 62.7659H280.981C276.371 59.6895 274.151 55.0749 272.273 50.4603C264.077 31.6599 253.15 5.51038 250.759 0.895752C248.369 6.36494 241.197 24.4816 235.563 38.8382C232.319 47.2129 228.733 56.784 221.732 62.9368H238.124C235.392 61.7404 232.319 59.5186 233.172 54.7331C233.855 51.6566 235.392 48.2384 236.416 45.3329L235.904 46.1874C242.734 46.1874 249.564 46.1874 256.564 46.1874C256.564 45.8456 255.198 44.1365 254.857 44.1365C254.857 44.1365 255.028 44.3074 255.028 44.4783C256.735 48.2384 258.443 52.3403 258.443 55.4167C258.613 58.4931 257.077 60.715 253.491 62.7659ZM237.27 42.5983C240.002 35.42 242.563 28.4126 245.466 21.0634C248.539 28.5835 251.271 35.42 254.174 42.5983H237.27ZM192.535 5.8522V51.8275C192.535 56.2713 190.828 59.8604 187.071 62.2532C186.9 62.4241 186.73 62.595 186.388 62.7659H212.341C207.39 60.0313 206.024 55.9294 206.024 51.1439V5.8522C207.39 5.33947 209.097 5.33947 210.463 5.33947C218.318 5.33947 222.415 12.8596 226.513 23.4561L225.318 2.43396H173.241L172.216 23.2852C177.68 10.6377 181.437 5.33947 188.266 5.33947C190.145 5.33947 192.194 5.68129 192.535 5.8522Z" fill="white" )

mixin svg-logo-new
  svg(class=(isMain ? null : 'header__logo-full') width=(isMain ? '683' : '89') height=(isMain ? '674' : '93') viewbox='0 0 89 93' aria-hidden="true" fill="none" xmlns="http://www.w3.org/2000/svg")
    g
      path(d='M39.9169 0.689619C41.9867 0.689619 43.8265 2.62712 44.2865 4.40042H44.7135L44.1879 0.229873H29.5681V0.525424C30.7837 0.525424 31.3093 1.57627 31.3093 3.77648V8.40678L25.8885 0.229873H21.289V0.525424C22.3403 0.65678 23.4902 1.31356 23.4902 4.49894V9.29343C23.4902 11.7564 22.6689 12.446 21.8147 12.446C20.5663 12.446 20.1392 11.3951 19.1207 8.37394L16.361 0.131356H15.6382L12.0572 9.88453C11.7944 10.607 11.5644 11.1324 11.3344 11.5265C10.7759 12.3803 10.3488 12.4788 9.82318 12.5773V12.9386H13.8642V12.5773C13.2728 12.5773 12.4186 12.1504 12.4186 11.2309C12.4186 10.8369 12.5172 10.3114 13.1414 8.63665H16.361C16.9524 10.3771 17.0838 10.9354 17.0838 11.3951C17.0838 12.1833 16.2296 12.5773 15.6382 12.5773V12.9386H25.9214V12.5773C24.8701 12.5773 24.1144 12.0191 24.1144 9.35911V2.82415H24.1473L31.0794 13.0371H31.9336V5.58263C31.9336 1.64195 34.759 0.689619 36.7302 0.689619H36.993V9.19492C36.993 11.3623 36.6316 12.2818 35.8103 12.4788C35.5803 12.5773 35.3832 12.5773 35.2189 12.5773V12.9386H41.4282V12.5773C41.2968 12.5773 41.034 12.5773 40.8697 12.4788C39.9498 12.2489 39.687 11.2638 39.687 9.19492V0.689619H39.9169ZM13.3714 8.11123L14.8498 4.00636L16.1968 8.11123H13.3714ZM6.47213 0.788136C8.80473 0.788136 9.72462 3.08686 10.1846 4.59746H10.5788L10.1846 0.262712H0V0.623941C1.08416 0.623941 1.74123 1.31356 1.74123 3.57945V8.96504C1.74123 11.3951 1.44555 12.6102 0 12.6102V12.9714H6.11074V12.6102C4.89516 12.6102 4.33666 11.6907 4.33666 8.96504V6.37076H4.86231C6.80066 6.37076 7.45773 7.75 7.58915 8.89936H7.98339V3.25106H7.58915C7.45773 4.33475 6.93208 5.77966 4.86231 5.77966H4.33666V3.64513C4.33666 1.47775 5.25655 0.788136 6.47213 0.788136ZM81.2137 26.8294V26.5339C76.0229 25.1875 77.1728 18.2256 83.9734 17.7659C89.4928 17.4047 89.8213 22.9216 84.4991 24.8591V25.2203L88.5729 25.0561C88.5729 25.0561 89 23.8411 89 21.4439C89 18.0943 86.9302 15.2373 82.7578 15.2373C78.7826 15.2373 75.4315 18.0614 75.4315 21.4767C75.4315 24.268 77.0413 26.6981 81.2137 26.8294ZM82.2979 58.6833C86.4046 58.6833 89.0657 56.0561 88.9671 52.3125C88.9671 48.7987 86.5031 46.3358 82.6264 46.3358C78.454 46.3358 75.8586 48.9629 75.8586 52.608C75.8586 56.1875 78.3883 58.6833 82.2979 58.6833ZM76.5157 53.3962C76.5157 51.2617 79.9325 48.9301 84.3348 48.9301C86.9302 48.9301 88.3101 50.0138 88.3101 51.5244C88.3101 53.6917 85.0576 56.089 80.5567 56.089C77.9612 56.0561 76.5157 54.9396 76.5157 53.3962ZM79.801 81.375C82.3307 81.375 83.1849 79.6017 84.1048 77.5985C84.7619 76.2521 85.4518 74.9714 86.9631 74.9714C87.8173 74.9714 88.4743 75.4968 88.4743 76.5805C88.4743 78.1568 86.8317 79.7002 84.8605 80.0614V80.4227L88.7043 80.1928C88.7043 80.1928 89 77.9269 89 76.7775C89 74.3475 87.5216 72.7383 85.5175 72.7383C82.9878 72.7383 82.0022 74.643 81.2137 76.4163C80.261 78.5837 79.144 79.1091 78.0927 79.1091C77.1728 79.1091 76.4171 78.4523 76.4171 77.2373C76.4171 74.9386 78.3555 73.8549 80.5895 73.1981V72.804L76.2529 72.9025C76.2529 72.9025 75.8586 75.5953 75.8586 76.9417C75.9243 79.2405 77.2713 81.375 79.801 81.375ZM84.8933 84.3633H80.0967C77.567 84.3633 76.5485 83.9693 76.5485 82.6886H76.1872V93H80.5567V92.6059C79.0454 92.2447 76.7457 91.358 76.7457 89.125C76.7457 87.1875 78.3883 86.9905 79.6039 86.9905H82.2979V87.6472C82.2979 89.7161 80.9509 90.2087 79.7682 90.4714V90.7669H85.3204V90.4714C84.2691 90.1758 83.0535 89.7489 83.0535 87.6472V86.9905H85.4847C86.536 86.9905 88.2115 86.8919 88.2115 89.125C88.2115 91.2595 86.3389 92.2447 84.5319 92.6059V93H88.77V82.6886H88.4086C88.4415 84.0021 87.3245 84.3633 84.8933 84.3633ZM80.031 63.7733H84.8933C87.5873 63.7733 88.3101 64.0689 88.5072 65.5138H88.8029V59.5042H88.5072C88.2444 60.8835 87.5544 61.1133 84.8933 61.1133H80.8523C78.2898 61.1133 75.9243 61.803 75.9243 65.8422C75.9243 69.1261 78.1255 70.0456 80.3924 70.0456H85.2876C88.1787 70.0456 88.2444 70.7023 88.5072 71.8517H88.8029V67.2871H88.5072C88.3758 68.3708 88.2115 69.0932 85.2876 69.0932H80.8195C78.3883 69.0932 76.5157 68.535 76.5157 66.5318C76.5157 64.6928 78.0927 63.7733 80.031 63.7733ZM84.959 36.6483C86.6346 36.6483 88.2115 36.5498 88.4743 38.2246H88.77V32.3464H88.4743C88.3429 33.5943 87.7516 33.9883 85.4847 33.9883H79.4725C77.2056 33.9883 76.6142 33.5943 76.4828 32.3464H76.1872V38.2246H76.4828C76.7457 36.5826 78.2898 36.6483 80.031 36.6483H82.1665V41.2129H80.031C78.2898 41.2129 76.7457 41.2458 76.4828 39.6038H76.1872V45.5477H76.4828C76.6142 44.2341 77.2056 43.9057 79.4725 43.9057H85.4847C87.7516 43.9057 88.3429 44.2669 88.4743 45.5477H88.77V39.6038H88.4743C88.2115 41.2458 86.6674 41.2129 84.959 41.2129H83.0207V36.6483H84.959V36.6483ZM59.859 4.99153C58.4134 4.26907 57.165 3.67797 57.165 2.16737C57.165 1.05085 57.8878 0.492585 58.9062 0.492585C60.6803 0.492585 61.863 2.23305 62.323 4.17055H62.6844L62.4544 0.262712C62.4544 0.262712 60.1875 0 59.0377 0C56.5079 0 54.9638 1.47775 54.9638 3.51377C54.9638 5.91102 56.8693 6.89619 58.6434 7.81568C60.5818 8.80085 61.206 9.88453 61.206 10.804C61.206 11.822 60.6146 12.6758 58.742 12.6758C56.8365 12.6758 54.8324 12.0191 53.7154 9.26059L50.0358 0.164195H49.313L46.0277 9.91737C45.7649 10.6398 45.502 11.1653 45.3049 11.5593C44.7464 12.3803 44.3193 12.5117 43.7937 12.6102V12.9714H47.8346V12.6102C47.2433 12.6102 46.3891 12.2161 46.3891 11.3623C46.3891 11.0011 46.6848 10.1144 47.1776 8.66949H50.8243C51.5142 10.41 51.7442 10.9682 51.7442 11.428C51.7442 12.2161 50.89 12.6102 50.2658 12.6102V12.9714C56.7379 12.9714 57.9535 13.1356 59.1034 13.1356C61.6988 13.1356 63.6043 11.9206 63.6043 9.49047C63.5714 7.1589 61.8302 5.87818 59.859 4.99153ZM47.309 8.11123C47.7032 6.89619 48.2289 5.41843 48.8202 3.64513C49.6087 5.58263 50.1672 7.02754 50.5615 8.11123H47.309ZM76.1214 15.5L80.2938 11.8549C81.378 10.9354 82.1993 10.9025 82.8236 10.9025C83.4478 10.9025 83.7434 11.1324 84.0391 11.4936L84.302 11.2309C83.612 10.2458 82.955 9.32627 82.2322 8.47246C81.5094 7.65148 80.6552 6.79767 79.8339 6.00953L79.5711 6.23941C79.9324 6.53496 80.1296 6.96186 79.9982 7.55297C79.8667 8.14407 79.5054 8.86653 78.4869 9.75318L74.2488 13.4311C73.2303 14.3835 72.2119 14.8104 71.3906 14.8104C70.2735 14.8104 69.5508 13.9894 70.3392 10.9682L72.869 2.65996C74.3474 3.25106 75.6944 6.04237 75.5629 7.91419L75.8586 8.04555L76.9756 3.97352C75.9243 3.31674 71.8176 1.24788 65.8712 0.591102C65.7398 0.95233 65.017 3.21822 64.6556 4.36758L64.9513 4.4661C66.4297 2.39725 68.598 1.51059 70.2078 1.87182L67.7767 10.1144C66.7911 13.5297 65.1484 13.1028 65.017 13.1356V13.5297C66.9553 13.5297 68.7294 13.9566 70.3392 15.0074C71.8176 15.9597 73.1646 17.5689 74.0188 19.4407L74.3145 19.2108C74.1831 18.9809 74.1502 18.7182 74.1502 18.4883C74.1831 17.7659 74.2159 17.1419 76.1214 15.5Z' fill='white')
    defs
      clippath#clip0
        rect(width='89' height='93' fill='white')

mixin svg-logo-mobile
  svg( class=(isMain ? null : 'header__logo-short') display=(isMain ? 'none' : 'block') width="31" height="21" viewBox="0 0 31 21" xmlns="http://www.w3.org/2000/svg" )
    g
      path(d='M17,6.6C17,4,16.7,1.5,19,1.2V0.7l-9.2,0l0.4,0.5c2.5,0.1,2.6,1.3,2.6,4.8v9.2c0,3.5-0.7,4.5-2.6,4.6l0,0.5H19\
      v-0.5C16.7,19.4,17,17,17,14.3v-3.4h6.8v3.4c0,2.7,0.1,5.2-2.1,5.5v0.5h8.9v-0.5c-2-0.2-2.6-1.1-2.6-4.6V5.8c0-3.5,0.5-4.4,2.6-4.6\
      V0.7h-8.9v0.5C24,1.5,23.8,4,23.8,6.6v3H17V6.6z' fill="none" stroke="#FFFFFF" stroke-width="0.4102" stroke-miterlimit="10" )
      path(d='M10.5,1.4c3.7,0,5.6,6.1,6.3,8.4h0.4L17,8.6l-0.6-8.1H0.5v0.6c1.7,0,2.7,1.1,2.7,4.6V14c0,3.8-0.5,5.7-2.7,5.7\
      l0,0.8h9.7l0-0.9c-2.4,0-2.9-1.3-2.9-5.6v-4h0.8c3,0,4.5,1.9,4.5,5l0.2-1V5.3l-0.3-2.1c0.2,3.1-1.2,6-4.5,6H7.3V5.9\
      C7.3,2.5,8.6,1.4,10.5,1.4z' fill="#FFFFFF")

mixin route
  svg( id='route' width="1" height="1" viewBox="0 0 251 35" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" )
    path( d="M249.5 14L247 33L197 21L1.5 1.5" stroke="#4F4F4F" stroke-opacity="0.65" stroke-width="2" stroke-linecap="round" stroke-dasharray="4 4" )


mixin zone1
  svg( id='zone1' width="479" height="449" viewBox="0 0 479 449" fill="none" xmlns="http://www.w3.org/2000/svg" )
    path( d="M414 313.5L452.5 254.5L477.5 196L441 140.5L307 1.5L260.5 27L221 21.5L183 47L46.5 133.5L1 383L221 448" stroke="#4F4F4F" stroke-opacity="0.65" stroke-linecap="round" stroke-dasharray="4 4" )

mixin zone2
  svg( id='zone2' width="236" height="221" viewBox="0 0 236 221" fill="none" xmlns="http://www.w3.org/2000/svg" )
    path( d="M177.5 52.4996L201 29.5L226 42.9995V87L206.5 120.5L184.5 173.5L235 193.5L226 219.5L172.5 190L153.5 176.5L172.5 120.5L142 111.5L110 125L98.5 180.5L46.5 171L12.5 162L5.5 87L1.5 19L69 1.49957L83.5 5.99957L90.5 42.9995L92 76.9996L98.5 94.5L177.5 52.4996Z" stroke="#4F4F4F" stroke-opacity="0.65" stroke-linecap="round" stroke-dasharray="4 4" )

mixin zone3
  svg( id='zone3' width="339" height="416" viewBox="0 0 339 416" fill="none" xmlns="http://www.w3.org/2000/svg" )
    path( d="M83.1468 286.244L1 213.447L9.41263 194.134L39.1043 150.06L94.0338 78.2536L169.747 1L338 166.897L196.47 415L153.912 408.562L157.871 392.22L122.736 347.651L83.1468 286.244Z" stroke="#4F4F4F" stroke-opacity="0.65" stroke-linecap="round" stroke-dasharray="4 4" )

mixin flats-hover-1
  svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1465.4 1306.1' xml:space='preserve')
    g.flat-hover.flat-hover-4(id='_x30_2.08')
      g
        polygon.st3(points='1014,981.8 1022.8,981.8 1027.4,981.8 1027.4,968.2 1014,968.2 		')
        polygon.st3(points='1207.4,810.2 1198.2,810.2 1198.2,802 1163.2,802 1163.2,810.2 1154,810.2 1154,802 1117.8,802\
        1117.8,810.2 1112.2,810.2 1112.2,838.8 1108.5,838.8 1108.5,810.2 1108.5,803.7 1108.5,802 1072.6,802 1072.6,810.2\
        1063.4,810.2 1063.4,802 1027.2,802 1027.2,810.2 1018,810.2 1018,802 981.6,802 981.6,810.2 972.3,810.2 972.3,802 936.8,802\
        936.8,912.3 972.3,912.3 972.3,912.4 975,912.4 975,938.6 971.3,938.6 971.3,916.8 936.8,916.8 936.8,981.4 971.3,981.4\
        971.3,961.3 975,961.3 975,983.7 975,987.6 975,1004.5 1010.3,1004.5 1010.3,992.6 1010.3,981.8 1010.3,968.2 1010.3,966.3\
        1010.3,964.5 1027.4,964.5 1027.4,916.8 1009.7,916.8 1009.7,912.4 1108.5,912.4 1108.5,884.1 1112.2,884.1 1112.2,912.4\
        1138.3,912.4 1138.3,916.8 1112.2,916.8 1112.2,933.2 1108.5,933.2 1108.5,916.8 1031,916.8 1031,981.8 1108.5,981.8\
        1108.5,953.2 1112.2,953.2 1112.2,981.8 1244.4,981.8 1244.4,916.8 1169.7,916.8 1169.7,912.4 1244.4,912.4 1244.4,802\
        1207.4,802 		')
        rect.st3(x='938.7' y='987.6' width='30' height='19.4')
    g.flat-hover.flat-hover-3(id='_x30_2.07')
      g.st4
        rect.st3(x='864.4' y='987.6' width='15.7' height='19.4')
        polygon.st3(points='834.5,1004.5 834.5,985.1 817.8,985.1 817.8,983.7 817.8,981.4 817.8,961.3 821.5,961.3 821.5,981.4\
        836.1,981.4 840,981.4 857.2,981.4 857.2,916.8 821.5,916.8 821.5,938.6 817.8,938.6 817.8,912.4 819.5,912.4 821.5,912.4\
        837.9,912.4 837.9,907 841.6,907 841.6,912.4 895.2,912.4 895.2,916.8 860.9,916.8 860.9,981.4 927.6,981.4 927.6,916.8\
        917.5,916.8 917.5,912.3 927.6,912.3 927.6,802 891.1,802 891.1,810.2 881.9,810.2 881.9,802 847.1,802 847.1,810.2 841.6,810.2\
        841.6,883.6 837.9,883.6 837.9,810.2 837.9,809.5 837.9,802 801.3,802 801.3,810.2 792.1,810.2 792.1,802 756.4,802 756.4,810.2\
        747.2,810.2 747.2,802 710.4,802 710.4,810.2 701.1,810.2 701.1,802 665.7,802 665.7,810.2 664.2,810.2 664.2,930.3 743.8,930.3\
        743.8,912.3 747.5,912.3 747.5,937.8 743.8,937.8 743.8,934 664.2,934 664.2,944.2 675.9,944.2 675.9,946 675.9,947.9\
        675.9,956.2 675.9,958.1 675.9,959.9 664.2,959.9 664.2,1004.5 743.8,1004.5 743.8,962.4 747.5,962.4 747.5,1004.5 		')
        rect.st3(x='664.2' y='947.9' width='8' height='8.4')
        rect.st3(x='840.8' y='987.6' width='20' height='19.4')
        rect.st3(x='883.8' y='987.6' width='34.1' height='19.4')
        rect.st3(x='921.6' y='987.6' width='10.9' height='19.4')
    g.flat-hover.flat-hover-2(id='_x30_2.06')
      g
        rect.st3(x='318.1' y='456.4' width='19.6' height='29.5')
        rect.st3(x='318.1' y='504.2' width='19.6' height='7.7')
        rect.st3(x='318.1' y='489.5' width='19.6' height='11')
        polygon.st3(points='418.9,466.3 415.2,466.3 415.2,436.2 343.9,436.2 343.9,459.5 374.6,459.5 374.6,461.4 374.6,463.2\
        374.6,471.5 374.6,477.8 374.6,480.7 343.9,480.7 343.9,513.7 415.2,513.7 415.2,486.3 418.9,486.3 418.9,538.2 415.2,538.2\
        415.2,517.4 343.9,517.4 343.9,521.5 343.9,538.9 343.9,582.5 415.2,582.5 415.2,560.6 418.9,560.6 418.9,565.2 461.2,565.2\
        461.2,568.9 418.9,568.9 418.9,582.5 418.9,584.9 418.9,586.2 384.6,586.2 384.6,692.5 402.2,692.5 402.2,696.2 363.4,696.2\
        363.4,692.5 380.9,692.5 380.9,623.9 347.1,623.9 347.1,620.2 380.9,620.2 380.9,586.2 343.9,586.2 342,586.2 340.2,586.2\
        340.2,553.8 320.6,553.8 320.6,620.2 328.7,620.2 328.7,623.9 320.6,623.9 320.3,739 545.3,739 545.3,736.7 555.2,736.7\
        555.2,701.6 545.3,701.6 545.3,692.4 555.2,692.4 555.2,657.5 545.3,657.5 545.3,648.3 555.2,648.3 555.2,613.1 545.3,613.1\
        545.3,603.9 555.2,603.9 555.2,568.9 545.3,568.9 517.4,568.9 517.4,565.2 545.3,565.2 545.3,559.6 555.2,559.6 555.2,524.8\
        545.3,524.8 545.3,515.5 555.2,515.5 555.2,480.5 545.3,480.5 545.3,471.2 555.2,471.2 555.2,436.2 418.9,436.2 		')
        rect.st3(x='343.9' y='463.2' width='27' height='8.3')
        rect.st3(x='318.1' y='515.6' width='19.6' height='20.2')
        rect.st3(x='320.6' y='542' width='19.6' height='8.2')
        rect.st3(x='319.9' y='412.2' width='17.7' height='38')
    g.flat-hover.flat-hover-1(id='_x30_2.05')
      g.st4
        rect.st3(x='309.1' y='352.3' width='31.2' height='7.9')
        rect.st3(x='233.8' y='352.5' width='13.6' height='7.7')
        rect.st3(x='307.8' y='189.8' width='13.2' height='15.5')
        polygon.st3(points='309.5,115.9 309.5,116 307.8,116 307.8,186.1 321,186.1 322.8,186.1 324.7,186.1 324.7,250.2\
        324.7,250.8 324.7,253.9 302.3,253.9 302.3,250.2 321,250.2 321,209 306.7,209 290.6,209 277.7,209 277.7,250.2 282.6,250.2\
        282.6,253.9 271.4,253.9 271.4,250.2 274,250.2 274,209 233.8,209 233.8,250.2 252.3,250.2 252.3,253.9 233.8,253.9 233.8,348.8\
        247.4,348.8 248.6,348.8 251.1,348.8 251.1,360.2 264,360.2 291.9,360.2 304.9,360.2 305.3,360.2 305.3,287.8 378.1,287.8\
        378.1,318.7 374.4,318.7 374.4,291.5 309.1,291.5 309.1,348.8 343.9,348.8 343.9,370.8 367.7,370.8 367.7,370.8 374.4,370.8\
        374.4,338.8 378.1,338.8 378.1,370.8 384,370.8 384,374.1 378.1,374.1 374.4,374.1 367.7,374.1 367.7,374 343.9,374 343.9,404.2\
        343.9,412.2 343.9,426.9 409.9,426.9 409.9,374.1 404.7,374.1 404.7,370.8 409.9,370.8 409.9,368 413.6,368 413.6,426.9\
        555.2,426.9 555.2,392.2 545.3,392.2 545.3,383 555.2,383 555.2,347.8 545.3,347.8 545.3,342.2 413.8,342.2 413.8,346.9\
        409.5,346.9 409.5,340.7 409.5,338.5 409.5,333 413.8,333 413.8,338.5 545.3,338.5 549.4,338.5 555.2,338.5 555.2,303.6\
        545.3,303.6 545.3,294.4 555.2,294.4 555.2,259.7 545.3,259.7 545.3,254.2 413.8,254.2 413.8,309.1 409.5,309.1 409.5,250.4\
        545.3,250.4 549.4,250.4 555.2,250.4 555.2,210.9 545.3,210.9 545.3,201.7 555.2,201.7 555.2,163.6 545.3,163.6 545.3,154.4\
        555.2,154.4 555.2,116 331.7,116 331.7,115.9 		')

mixin flats-hover-2
  svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1226.1 1192.8' xml:space='preserve')
    g.flat-hover.flat-hover-8(id='_x32_.8')
      g
        rect.st3(x='981.5' y='969' width='13.2' height='30.9')
        polygon.st3(points='1208.2,1155.2 1208.2,1000.8 1170.9,1000.8 1170.9,997.8 1208.2,997.8 1208.2,917.5 1151.4,917.5 \
        1151.4,967.5 1148.4,967.5 1148.4,967.5 1121.2,967.5 1121.2,997.8 1151.3,997.8 1151.3,1000.8 1121.2,1000.8 1121.2,1006.3 \
        1118.2,1006.3 1118.2,1000.8 1113.8,1000.8 1113.8,997.8 1118.2,997.8 1118.2,964.5 1120.3,964.5 1121.2,964.5 1136.6,964.5 \
        1136.6,917.5 1074.2,917.5 1074.2,997.8 1094.4,997.8 1094.4,1000.8 1074.2,1000.8 1072,1000.8 1071.2,1000.8 1071.2,917.5 \
        981.5,917.5 981.5,931.9 981.4,931.9 981.4,959.6 981.5,959.6 981.5,966 994.7,966 997.1,966 997.7,966 997.7,997.8 1014.7,997.8 \
        1014.7,1000.8 997.7,1000.8 997.7,1001.2 997.7,1002.9 981.5,1002.9 981.5,1155.4 1118.2,1155.3 1118.2,1029 1121.2,1029 \
        1121.2,1155.3 		')
        rect.st3(x='1139.6' y='917.5' width='8.8' height='47')
    g.flat-hover.flat-hover-7(id='_x32_.7')
      g.st4
        rect.st3(x='980' y='861.9' width='8' height='27.3')
        polygon.st3(points='1079,742.9 1072.7,742.9 1072.7,714.8 901.6,714.8 901.6,817.4 935.3,817.4 938.9,817.4 938.9,821.1 \
        938.9,843.7 935.3,843.7 935.3,821.1 901.6,821.1 901.6,831.6 900.2,831.6 900.2,886.2 932.6,886.2 935.3,886.2 935.3,865.1 \
        938.9,865.1 938.9,886.2 938.9,890.8 938.9,908.9 977,908.9 977,908.2 977,858.9 992.8,858.9 992.8,820.9 977,820.9 977,817.9 \
        996.5,817.9 996.5,839.9 1072.7,839.9 1072.7,834.6 1072.7,832.9 1072.7,830.9 1072.7,826.8 1072.7,788.2 1079,788.2 1079,830.9 \
        1147.6,830.9 1147.6,834.6 1076.7,834.6 1076.7,859.4 1072.7,859.4 1072.7,843.6 996.5,843.6 996.5,861.9 991,861.9 991,892.3 \
        980,892.3 980,908.2 1073.7,908.2 1073.7,881 1076.7,881 1076.7,908.2 1208.2,908.2 1208.2,834.6 1178.4,834.6 1178.4,830.9 \
        1208.2,830.9 1208.2,714.8 1079,714.8 		')
    g.flat-hover.flat-hover-6(id='_x32_.6')
      g
        rect.st3(x='629' y='831.6' width='11.7' height='34.2')
        polygon.st3(points='799.4,1013.2 785.7,1013.2 783.3,1013.2 782.7,1013.2 782.7,977.3 782.7,976.1 782.7,974.3 \
        799.4,974.3 799.4,961.1 799.4,933.3 799.3,933.3 799.3,892.4 799.3,889.5 751.9,889.5 751.9,907.5 748.3,907.5 748.3,859.6 \
        751.9,859.6 751.9,886.2 799.3,886.2 799.3,859.6 803,859.6 803,886.1 893.8,886.1 893.8,831.6 892.4,831.6 892.4,810.1 \
        803,810.1 803,838.1 799.3,838.1 799.3,806.4 800.9,806.4 803,806.4 892.4,806.4 892.4,714.8 760.8,714.8 760.8,827.9 \
        760.8,830.4 760.8,831.6 751.9,831.6 751.9,836.7 748.3,836.7 748.3,831.6 715.2,831.6 715.2,836.7 711.5,836.7 711.5,827.9 \
        712.6,827.9 715.2,827.9 748.3,827.9 751.9,827.9 757.1,827.9 757.1,714.8 629,714.8 629,828.3 640.7,828.3 644.2,828.3 \
        644.2,831.6 644.2,865.8 655.5,865.8 655.5,869.1 644.2,869.1 640.7,869.1 629,869.1 629,933.8 711.5,933.8 711.5,869.1 \
        675.7,869.1 675.7,865.8 711.5,865.8 711.5,859.6 715.2,859.6 715.2,949.6 711.5,949.6 711.5,937.5 629,937.5 629,974.1 \
        711.5,974.1 711.5,969.1 715.2,969.1 715.2,977.8 712.4,977.8 711.5,977.8 629,977.8 629,1155.2 799.4,1155.4 		')
        rect.st3(x='785.7' y='977.3' width='13.7' height='32.9')
    g.flat-hover.flat-hover-5(id='_x32_.5')
      g.st4
        rect.st3(x='612' y='944.6' width='11' height='44.6')
        polygon.st3(points='540.6,714.6 522.7,714.6 522.7,719.3 519,719.3 519,714.6 511.4,714.6 511.4,714.6 511.4,685.3 \
        511.4,650.2 511.4,649.2 466.7,649.2 466.7,789.5 477.7,789.5 481,789.5 481,792.9 481,813.7 519,813.7 519,740.9 522.7,740.9 \
        522.7,858.5 529.7,858.5 529.7,862.2 515.6,862.2 515.6,858.5 519,858.5 519,817.4 481,817.4 481,841.4 481,844.7 477.7,844.7 \
        466.7,844.7 466.7,858.5 496.2,858.5 496.2,862.2 466.7,862.2 466.7,867.9 466.7,896.4 466.7,922.7 466.7,926.1 466.7,927.1 \
        466.7,945.6 462.7,945.6 462.7,927.1 386.8,927.1 386.8,989.2 462.7,989.2 462.7,970.2 466.7,970.2 466.7,989.2 466.7,991.8 \
        466.7,992.9 380.9,992.9 380.9,989.2 382.8,989.2 382.8,941.3 339,941.3 339,989.2 358,989.2 358,992.9 339,992.9 339,1159.6 \
        383.7,1157.1 383.8,1156.7 430.7,1153.8 430.9,1154.5 468.1,1152.5 468.2,1151.4 506.4,1149.1 506.4,993.2 506.4,991.1 \
        506.4,989.2 527.7,989.2 527.7,993.2 510.1,993.2 510.1,1155.4 533.3,1155.4 533.3,1155.9 566.5,1155.9 566.5,1155.4 \
        622.9,1155.4 622.9,1042.3 622.9,1038.6 622.9,993.2 587.9,993.2 587.9,989.2 608.6,989.2 608.6,944.6 608.6,941.3 612,941.3 \
        622.9,941.3 622.9,889.8 561,889.8 561,989.2 566.2,989.2 566.2,993.2 552.1,993.2 552.1,989.2 557.4,989.2 557.4,862.2 \
        551.3,862.2 551.3,858.5 557.4,858.5 557.4,833.6 557.4,832.8 557.4,829.9 580.8,829.9 580.8,833.6 561,833.6 561,858.5 \
        561,862.2 561,886.1 622.9,886.1 622.9,833.6 603.7,833.6 603.7,829.9 622.9,829.9 622.9,714.6 621.2,714.6 586.3,714.6 \
        577.1,714.6 540.6,714.6 		')
        rect.st3(x='339' y='927.1' width='43.8' height='11.1')
        rect.st3(x='466.7' y='792.9' width='11' height='48.5')
    g.flat-hover.flat-hover-4(id='_x32_.4')
      g
        rect.st3(x='300.4' y='927.1' width='29.6' height='11.1')
        rect.st3(x='285.1' y='649.2' width='11.2' height='208.9')
        path.st3(d='M117.6,1184l4.9-17.4c0,0,14.6-1.3,30.1-13.8l21.4,5.1l0.6,6.7l0,0l41-1.2l0,0l3.4-0.1v-138h3.7v117.9h6.4\
        v19.8l24.3-0.7l0,0l76.4-2.3V995.9h-36v-3.7h36v-50.9h-29.6h-2.1h-1.9v-6.6h-73.6v57.5h49.5v3.7h-49.5v4.7H219v-85.1h3.7V931h73.6\
        v-3.9v-1v-3.4v-26.4v-28.4v-6.8h-14.2v0h-16.5v-3h16.5v-53.5h-51.2v53.5h16.7v3h-19.7v-1.5h0v-73.5h3v15.5h51.2v-58h-51.2v19.5h-3\
        v-49.5h-4.6v-3h7.6v30h51.2v-91.4h-85.6v61.4h5.1v3h-5.1v7.8h-3v-72.3H27.9v54.9L10.4,707v31.8l17.5,1.4v12h165.6v-7.8h3v22.2h-3\
        v-10.7H27.9v13.9l-17.5,1.4v15.4h5l13.7,3v3l-13.7,3h-5v23.7h5l13.7,3v3l-13.7,3h-5v14.2l0.3,0.1l19.1,1.5v8.9v0h163.8v-64.3h3v73\
        h-15.4v17.1h-4v-17.1H29.8V886v47.9v31.6l-17.4,1.4v12.2h4.6l13.7,3v3l-13.7,3h-4.6v19.7h4.6l13.7,3v3l-13.7,3h-4.6v12.3l0,0.2\
        l16.4,2v-0.1h10.7l5.1,16.4c-12.6,15.5-13.8,33.1-13.8,33.1l-16.8,5.1l2.8,34.3l0.1,0.2l19,0.1l5.3,11.3l-11,13.2l0.1,0.2\
        l25.5,25.9l0.1,0.1l14.2-11.8l12.3,6.3l0.1,18.6l0,0h35L117.6,1184z M142.9,1038.2h16.8V917.9h-16.8v-4h38v4h-17.2v120.4h25.2v4\
        h-46V1038.2z')
    g.flat-hover.flat-hover-3(id='_x32_.3')
      g.st4
        polygon.st3(points='383.4,384.8 383.4,405.6 379.6,405.6 379.6,384.8 310.2,384.8 310.2,446 310,446 310,462.8 \
        379.6,462.8 379.6,427.4 383.4,427.4 383.4,483.4 379.6,483.4 379.6,466.5 310,466.5 308.2,466.5 306.3,466.5 306.3,456.8 \
        293.6,456.8 293.6,508.6 312.9,508.6 312.9,512.3 289.9,512.3 289.9,510.4 289.9,508.6 289.9,456.8 271.5,456.8 270.4,456.8 \
        267.8,456.8 267.8,446 263.4,446 236,446 228.7,446 228.7,485.3 225,485.3 225,456.8 176.6,456.8 176.6,508.6 225,508.6 \
        225,503.8 228.7,503.8 228.7,512.3 226.8,512.3 225,512.3 172.9,512.3 172.9,509.9 172.9,508.6 172.9,446 39.3,446 39.3,643 \
        39.3,643.3 172.8,643.3 172.8,562 172.7,562 172.7,558.3 201.9,558.3 201.9,562 176.4,562 176.4,643.3 224.6,643.3 224.6,562 \
        220.8,562 220.8,558.3 341.1,558.3 341.1,544.9 344.8,544.9 344.8,594.4 341.1,594.4 341.1,562 228.3,562 228.3,632.8 \
        321.7,632.8 324.7,632.8 324.7,635.8 324.7,643.3 341.1,643.3 341.1,616.1 344.8,616.1 344.8,643.3 402.5,643.3 402.5,571.1 \
        406.2,571.1 406.2,643.3 511.4,643.3 511.4,641 511.4,605.9 511.4,596.7 511.4,585.8 511.4,584.3 511.4,561.9 511.4,552.6 \
        511.4,517.6 344.8,517.6 344.8,521.3 341.1,521.3 341.1,512.1 337.5,512.1 337.5,508.4 344.8,508.4 344.8,510.3 344.8,512.1 \
        344.8,513.9 511.4,513.9 511.4,508.4 511.4,473.6 511.4,464.4 511.4,429.5 511.4,420.3 511.4,384.8 		')
        rect.st3(x='228.3' y='635.8' width='93.4' height='7.5')
        rect.st3(x='176.6' y='446' width='48.4' height='7.1')
        rect.st3(x='271.5' y='446' width='34.8' height='7.1')
    g.flat-hover.flat-hover-2(id='_x32_.2')
      g
        rect.st3(x='311.2' y='362.4' width='26.3' height='13')
        polygon.st3(points='375.3,18.3 375.3,94 375.2,94 371.4,94 362.8,94 362.8,90.3 371.4,90.3 371.4,18.3 299.5,18.3 \
        299.5,18.3 275.2,18.3 275.2,90.3 343.5,90.3 343.5,94 340.5,94 340.5,114.1 336.8,114.1 336.8,94 275.2,94 275.2,154.8 \
        336.8,154.8 336.8,134.2 340.5,134.2 340.5,154.8 344.9,154.8 344.9,158.5 340.5,158.5 340.5,183.4 336.8,183.4 336.8,158.5 \
        275.2,158.5 275.2,222.8 336.8,222.8 336.8,203.2 340.5,203.2 340.5,243.4 336.8,243.4 336.8,226.5 275.2,226.5 275.2,253.1 \
        282.7,253.1 286.1,253.1 286.4,253.1 286.4,264.5 311.2,264.5 311.2,285.8 336.8,285.8 336.8,262.9 340.5,262.9 340.5,289 \
        336.8,289 336.8,289 311.2,289 311.2,316.5 287.7,316.5 287.7,320.6 287.7,349.5 287.7,354.5 311.2,354.5 311.2,354.5 \
        311.2,358.7 339,358.7 339,358.7 341.2,358.7 341.2,375.5 371.2,375.5 371.2,358.7 374.9,358.7 374.9,375.5 511.4,375.5 \
        511.4,340.6 511.4,331.4 511.4,296.5 511.4,287.3 511.4,265.8 511.4,263 511.4,252.1 371.2,252.1 371.2,250.3 371.2,248.4 \
        371.2,186 374.9,186 374.9,248.4 511.4,248.4 511.4,242.9 511.4,208.2 511.4,199 511.4,164 511.4,158.5 374.9,158.5 374.9,163.2 \
        371.2,163.2 371.2,158.5 368.8,158.5 368.8,154.8 511.4,154.8 511.4,116.1 511.4,106.9 511.4,67.5 511.4,58.3 511.4,18.3 		')
        rect.st3(x='275.2' y='256.8' width='7.6' height='7.7')
    g.flat-hover.flat-hover-1(id='_x32_.1')
      g.st4
        polygon.st3(points='178.1,130.5 178.1,134.2 39.3,134.2 39.3,264.5 154.9,264.5 154.9,216.2 158.6,216.2 158.6,264.5 \
        173.5,264.5 173.5,256.8 173.4,256.8 173.4,253.1 223.2,253.1 224.4,253.1 226.9,253.1 226.9,264.5 235.5,264.5 262.9,264.5 \
        267.1,264.5 267.1,188.9 267.1,187.1 246.2,187.1 246.2,183.4 267.1,183.4 267.1,154.3 258.2,154.3 256.2,154.3 254.5,154.3 \
        254.5,147.1 211.7,147.1 211.7,183.4 226.9,183.4 226.9,187.1 211.7,187.1 209.9,187.1 208,187.1 208,134.2 202.4,134.2 \
        202.4,130.5 208,130.5 208,122.7 211.7,122.7 211.7,143.4 254.5,143.4 254.5,94 211.7,94 211.7,104.1 208,104.1 208,94 202.7,94 \
        202.7,90.3 267.1,90.3 267.1,18.3 200.1,18.3 200.1,18.3 178,18.3 178,18.3 174.4,18.3 174.4,90.3 183.5,90.3 183.5,94 155.4,94 \
        155.4,90.3 170.7,90.3 170.7,18.3 39.3,18.3 39.3,130.5 		')
        rect.st3(x='176.7' y='256.8' width='46.5' height='7.7')
        rect.st3(x='258.2' y='94' width='8.9' height='56.6')

mixin flats-hover-3
  svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1226.1 1192.8' style='enable-background:new 0 0 1226.1 1192.8;' xml:space='preserve')
    g.flat-hover.flat-hover-7(id='_x33_.7')
      g.st4
        polygon.st3(points='988,924.6 988,861.9 981,861.9 981,908.8 981.5,908.8 981.5,924.6 		')
        polygon.st3(points='1121.4,714.8 1121.4,831.4 1117.7,831.4 1117.7,829.3 1110,829.3 1110,825.7 1117.7,825.7 \
        1117.7,714.8 1031.4,714.8 1031.4,825.7 1080.5,825.7 1080.5,808.8 1084.2,808.8 1084.2,825.7 1087.2,825.7 1087.2,829.3 \
        1031.4,829.3 1031.4,833 1027.8,833 1027.8,714.8 901.6,714.8 901.6,825.7 976.8,825.7 976.8,808.8 980.5,808.8 980.5,832.5 \
        976.8,832.5 976.8,829.4 901.6,829.4 901.6,831.6 900.2,831.6 900.2,886.2 938.9,886.2 938.9,908.8 974.4,908.8 974.4,886.2 \
        976.8,886.1 976.8,854.5 980.5,854.5 980.5,858.9 1027.8,858.9 1027.8,855.1 1031.4,855.1 1031.4,889 1027.8,889 1027.8,861.9 \
        991,861.9 991,924.6 1027.8,924.6 1027.8,911 1031.4,911 1031.4,928.2 1029.6,928.2 1027.8,928.2 981.5,928.2 981.5,959.6 \
        981.5,966 994.7,966 997.1,966 997.7,966 997.7,997.8 1014.7,997.8 1074.3,997.8 1074.3,980.1 1078,980.1 1078,997.8 1078,1000.4 \
        1078,1000.8 1040.7,1000.8 1040.7,1018.3 1037,1018.3 1037,1000.8 1014.7,1000.8 997.7,1000.8 997.7,1001.2 997.7,1002.9 \
        981.5,1002.9 981.5,1155.4 1208.2,1155.2 1208.2,1113.4 1208.2,1090.2 1208.2,1027.1 1208.2,1004.6 1208.2,997.4 1151.4,997.4 \
        1151.4,997.5 1147.7,997.5 1147.7,951.3 1136.6,951.3 1136.6,951.3 1136.6,928.2 1078,928.2 1078,926.4 1078,924.6 1078,860.8 \
        1078,857.8 1078,857.1 1087.2,857.1 1087.2,860.8 1081.7,860.8 1081.7,924.6 1136.6,924.6 1136.6,898.1 1147.7,898.1 \
        1147.7,860.8 1109.5,860.8 1109.5,857.1 1118.3,857.1 1118.3,853.1 1121.9,853.1 1121.9,857.1 1178.5,857.1 1178.5,860.8 \
        1151.4,860.8 1151.4,898.1 1151.4,904.4 1151.4,907.7 1181.4,907.7 1181.4,911.4 1151.4,911.4 1151.4,949.3 1151.4,951.3 \
        1151.4,994.4 1208.2,994.4 1208.2,942.1 1208.2,919.6 1208.2,911.4 1201.1,911.4 1201.1,907.8 1208.2,907.8 1208.2,860.8 \
        1201.1,860.8 1201.1,857.1 1208.2,857.1 1208.2,834.6 1208.2,770.7 1208.2,748.3 1208.2,714.8 		')
        rect.st3(x='1139.6' y='901.6' width='8.2' height='46.7')
        rect.st3(x='981.5' y='969' width='13.2' height='30.9')
    g.flat-hover.flat-hover-6(id='_x33_.6')
      g
        rect.st3(x='629' y='831.6' width='11.7' height='56.3')
        polygon.st3(points='799.4,1013.2 785.7,1013.2 783.3,1013.2 782.7,1013.2 782.7,977.3 782.7,976.1 782.7,974.3 \
        799.4,974.3 799.4,961.1 799.4,933.3 799.3,933.3 799.3,892.4 799.3,889.5 751.9,889.5 751.9,931.3 748.3,931.3 748.3,859.6 \
        751.9,859.6 751.9,886.2 799.3,886.2 799.3,859.6 803,859.6 803,886.1 893.8,886.1 893.8,831.6 892.4,831.6 892.4,810.1 \
        803,810.1 803,838.1 799.3,838.1 799.3,806.4 800.9,806.4 803,806.4 892.4,806.4 892.4,714.8 760.8,714.8 760.8,827.9 \
        760.8,830.4 760.8,831.6 751.9,831.6 751.9,836.7 748.3,836.7 748.3,831.6 715.2,831.6 715.2,836.7 711.5,836.7 711.5,827.9 \
        712.6,827.9 715.2,827.9 748.3,827.9 751.9,827.9 757.1,827.9 757.1,714.8 629,714.8 629,828.3 640.7,828.3 644.2,828.3 \
        644.2,831.6 644.2,865.8 655.5,865.8 655.5,869.1 644.2,869.1 644.2,891.1 629,891.1 629,933.8 711.5,933.8 711.5,869.1 \
        675.7,869.1 675.7,865.8 711.5,865.8 711.5,859.6 715.2,859.6 715.2,949.6 711.5,949.6 711.5,937.5 629,937.5 629,974.1 \
        711.5,974.1 711.5,969.1 715.2,969.1 715.2,977.8 712.4,977.8 711.5,977.8 629,977.8 629,1155.2 799.4,1155.4 		')
        rect.st3(x='785.7' y='977.3' width='13.7' height='32.9')
    g.flat-hover.flat-hover-5(id='_x33_.5')
      g.st4
        rect.st3(x='612' y='944.6' width='11' height='44.6')
        polygon.st3(points='540.6,714.6 522.7,714.6 522.7,719.3 519,719.3 519,714.6 511.4,714.6 511.4,714.6 511.4,685.3 \
        511.4,650.2 511.4,649.2 466.7,649.2 466.7,789.5 477.7,789.5 481,789.5 481,792.9 481,813.7 519,813.7 519,740.9 522.7,740.9 \
        522.7,858.5 529.7,858.5 529.7,862.2 515.6,862.2 515.6,858.5 519,858.5 519,817.4 481,817.4 481,841.4 481,844.7 477.7,844.7 \
        466.7,844.7 466.7,858.5 496.2,858.5 496.2,862.2 466.7,862.2 466.7,867.9 466.7,896.4 466.7,922.7 466.7,926.1 466.7,927.1 \
        466.7,945.6 462.7,945.6 462.7,927.1 389.8,927.1 389.8,989.2 462.7,989.2 462.7,970.2 466.7,970.2 466.7,989.2 466.7,991.8 \
        466.7,992.9 383.9,992.9 383.9,989.2 385.8,989.2 385.8,941.3 339,941.3 339,989.2 358,989.2 358,992.9 339,992.9 339,1159.6 \
        383.7,1157.1 383.8,1156.7 430.7,1153.8 430.9,1154.5 468.1,1152.5 468.2,1151.4 506.4,1149.1 506.4,993.2 506.4,991.1 \
        506.4,989.2 527.7,989.2 527.7,993.2 510.1,993.2 510.1,1155.4 533.3,1155.4 533.3,1155.9 566.5,1155.9 566.5,1155.4 \
        622.9,1155.4 622.9,1042.3 622.9,1038.6 622.9,993.2 587.9,993.2 587.9,989.2 608.6,989.2 608.6,944.6 608.6,941.3 612,941.3 \
        622.9,941.3 622.9,889.8 561,889.8 561,989.2 566.2,989.2 566.2,993.2 552.1,993.2 552.1,989.2 557.4,989.2 557.4,862.2 \
        551.3,862.2 551.3,858.5 557.4,858.5 557.4,833.6 557.4,832.8 557.4,829.9 580.8,829.9 580.8,833.6 561,833.6 561,858.5 \
        561,862.2 561,886.1 622.9,886.1 622.9,833.6 603.7,833.6 603.7,829.9 622.9,829.9 622.9,714.6 621.2,714.6 586.3,714.6 \
        577.1,714.6 540.6,714.6 		')
        rect.st3(x='339' y='927.1' width='46.8' height='11.1')
        rect.st3(x='466.7' y='792.9' width='11' height='48.5')
    g.flat-hover.flat-hover-4(id='_x33_.4')
      g
        rect.st3(x='300.4' y='927.1' width='29.6' height='11.1')
        rect.st3(x='285.1' y='649.2' width='11.2' height='208.9')
        path.st3(d='M117.6,1184l4.9-17.4c0,0,14.6-1.3,30.1-13.8l21.4,5.1l0.6,6.7l0,0l41-1.2l0,0l3.4-0.1v-138h3.7v117.9h6.4\
        v19.8l24.3-0.7l0,0l76.4-2.3V995.9h-36v-3.7h36v-50.9h-29.6h-2.1h-1.9v-6.6h-73.6v57.5h49.5v3.7h-49.5v4.7H219v-85.1h3.7V931h73.6\
        v-3.9v-1v-3.4v-26.4v-28.4v-6.8h-14.2v0h-16.5v-3h16.5v-53.5h-51.2v53.5h16.7v3h-19.7v-1.5h0v-73.5h3v15.5h51.2v-58h-51.2v19.5h-3\
        v-49.5h-4.6v-3h7.6v30h51.2v-91.4h-85.6v61.4h5.1v3h-5.1v7.8h-3v-72.3H27.9v54.9L10.4,707v31.8l17.5,1.4v12h165.6v-7.8h3v22.2h-3\
        v-10.7H27.9v13.9l-17.5,1.4v15.4h5l13.7,3v3l-13.7,3h-5v23.7h5l13.7,3v3l-13.7,3h-5v14.2l0.3,0.1l19.1,1.5v8.9v0h163.8v-64.3h3v73\
        h-15.4v17.1h-4v-17.1H29.8V886v47.9v31.6l-17.4,1.4v12.2h4.6l13.7,3v3l-13.7,3h-4.6v19.7h4.6l13.7,3v3l-13.7,3h-4.6v12.3l0,0.2\
        l16.4,2v-0.1h10.7l5.1,16.4c-12.6,15.5-13.8,33.1-13.8,33.1l-16.8,5.1l2.8,34.3l0.1,0.2l19,0.1l5.3,11.3l-11,13.2l0.1,0.2\
        l25.5,25.9l0.1,0.1l14.2-11.8l12.3,6.3l0.1,18.6l0,0h35L117.6,1184z M142.9,1038.2h16.8V917.9h-16.8v-4h38v4h-17.2v120.4h25.2v4\
        h-46V1038.2z')
    g.flat-hover.flat-hover-3(id='_x33_.3')
      g.st4
        polygon.st3(points='383.4,384.8 383.4,405.6 379.6,405.6 379.6,384.8 310.2,384.8 310.2,446 310,446 310,462.8 \
        379.6,462.8 379.6,427.4 383.4,427.4 383.4,483.4 379.6,483.4 379.6,466.5 310,466.5 308.2,466.5 306.3,466.5 306.3,456.8 \
        293.6,456.8 293.6,508.6 312.9,508.6 312.9,512.3 289.9,512.3 289.9,510.4 289.9,508.6 289.9,456.8 271.5,456.8 270.4,456.8 \
        267.8,456.8 267.8,446 263.4,446 236,446 228.7,446 228.7,485.3 225,485.3 225,456.8 176.6,456.8 176.6,508.6 225,508.6 \
        225,503.8 228.7,503.8 228.7,512.3 226.8,512.3 225,512.3 172.9,512.3 172.9,509.9 172.9,508.6 172.9,446 39.3,446 39.3,643 \
        39.3,643.3 172.8,643.3 172.8,562 172.7,562 172.7,558.3 201.9,558.3 201.9,562 176.4,562 176.4,643.3 224.6,643.3 224.6,562 \
        220.8,562 220.8,558.3 341.1,558.3 341.1,544.9 344.8,544.9 344.8,594.4 341.1,594.4 341.1,562 228.3,562 228.3,632.8 \
        341.1,632.8 341.1,616.1 344.8,616.1 344.8,643.3 402.5,643.3 402.5,552.1 406.2,552.1 406.2,643.3 511.4,643.3 511.4,641 \
        511.4,605.9 511.4,596.7 511.4,585.8 511.4,584.3 511.4,561.9 511.4,552.6 511.4,517.6 344.8,517.6 344.8,521.3 341.1,521.3 \
        341.1,512.1 337.5,512.1 337.5,508.4 344.8,508.4 344.8,510.3 344.8,511.9 511.4,511.9 511.4,508.4 511.4,473.6 511.4,464.4 \
        511.4,429.5 511.4,420.3 511.4,384.8 		')
        rect.st3(x='228.3' y='635.8' width='112.3' height='7.5')
        rect.st3(x='176.6' y='446' width='48.4' height='7.1')
        rect.st3(x='271.5' y='446' width='34.8' height='7.1')
    g.flat-hover.flat-hover-2(id='_x33_.2')
      g
        rect.st3(x='311.2' y='362.4' width='41.9' height='13')
        polygon.st3(points='375.3,18.3 375.3,94 375.2,94 371.4,94 362.8,94 362.8,90.3 371.4,90.3 371.4,18.3 299.5,18.3 \
        299.5,18.3 275.2,18.3 275.2,90.3 343.5,90.3 343.5,94 340.5,94 340.5,114.1 336.8,114.1 336.8,94 275.2,94 275.2,154.8 \
        336.8,154.8 336.8,134.2 340.5,134.2 340.5,154.8 344.9,154.8 344.9,158.5 340.5,158.5 340.5,183.4 336.8,183.4 336.8,158.5 \
        275.2,158.5 275.2,222.8 336.8,222.8 336.8,203.2 340.5,203.2 340.5,243.4 336.8,243.4 336.8,226.5 275.2,226.5 275.2,249.6 \
        282.7,249.6 286.1,249.6 286.4,249.6 286.4,264.5 311.2,264.5 311.2,285.8 336.8,285.8 336.8,262.9 340.5,262.9 340.5,289 \
        336.8,289 336.8,289 311.2,289 311.2,316.5 287.7,316.5 287.7,320.6 287.7,349.5 287.7,354.5 311.2,354.5 311.2,354.5 \
        311.2,358.7 354.6,358.7 354.6,358.7 356.8,358.7 356.8,375.5 371.2,375.5 371.2,358.7 374.9,358.7 374.9,375.5 511.4,375.5 \
        511.4,340.6 511.4,331.4 511.4,296.5 511.4,287.3 511.4,265.8 511.4,263 511.4,252.1 371.2,252.1 371.2,250.3 371.2,248.4 \
        371.2,186 374.9,186 374.9,248.4 511.4,248.4 511.4,242.9 511.4,208.2 511.4,199 511.4,164 511.4,158.5 374.9,158.5 374.9,163.2 \
        371.2,163.2 371.2,158.5 368.8,158.5 368.8,154.8 511.4,154.8 511.4,116.1 511.4,106.9 511.4,67.5 511.4,58.3 511.4,18.3 		')
        rect.st3(x='275.2' y='253' width='7.6' height='11.6')
    g.flat-hover.flat-hover-1(id='_x33_.1')
      g.st4
        polygon.st3(points='178.1,130.5 178.1,134.2 39.3,134.2 39.3,264.5 154.9,264.5 154.9,196.9 158.6,196.9 158.6,253.1 \
        223.2,253.1 224.4,253.1 226.9,253.1 226.9,264.5 235.5,264.5 262.9,264.5 267.1,264.5 267.1,188.9 267.1,187.1 246.2,187.1 \
        246.2,183.4 267.1,183.4 267.1,154.3 258.2,154.3 256.2,154.3 254.5,154.3 254.5,147.1 211.7,147.1 211.7,183.4 226.9,183.4 \
        226.9,187.1 211.7,187.1 209.9,187.1 208,187.1 208,134.2 202.4,134.2 202.4,130.5 208,130.5 208,122.7 211.7,122.7 211.7,143.4 \
        254.5,143.4 254.5,94 211.7,94 211.7,104.1 208,104.1 208,94 202.7,94 202.7,90.3 267.1,90.3 267.1,18.3 200.1,18.3 200.1,18.3 \
        178,18.3 178,18.3 172.4,18.3 172.4,90.3 183.5,90.3 183.5,94 168.7,94 168.7,18.3 39.3,18.3 39.3,130.5 		')
        rect.st3(x='158.6' y='256.8' width='64.6' height='7.7')
        rect.st3(x='258.2' y='94' width='8.9' height='56.6')

mixin flats-hover-4
  svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1226.1 1192.8' style='enable-background:new 0 0 1226.1 1192.8;' xml:space='preserve')
    g.flat-hover.flat-hover-6(id='_x34_.6')
      g
        polygon.st3(points='1121.4,831.4 1117.7,831.4 1117.7,829.3 1110,829.3 1110,825.7 1117.7,825.7 1117.7,714.8 \
        1031.4,714.8 1031.4,825.7 1080.5,825.7 1080.5,808.8 1084.2,808.8 1084.2,825.7 1087.2,825.7 1087.2,829.3 1031.4,829.3 \
        1031.4,833 1027.8,833 1027.8,714.8 901.6,714.8 901.6,825.7 976.8,825.7 976.8,808.8 980.5,808.8 980.5,832.5 976.8,832.5 \
        976.8,829.4 901.6,829.4 901.6,831.6 900.2,831.6 900.2,886.2 938.9,886.2 938.9,908.8 974.4,908.8 974.4,886.2 976.8,886.1 \
        976.8,854.5 980.5,854.5 980.5,858.9 1027.8,858.9 1027.8,855.1 1031.4,855.1 1031.4,889 1027.8,889 1027.8,861.9 991,861.9 \
        991,924.6 1027.8,924.6 1027.8,911 1031.4,911 1031.4,928.2 1029.6,928.2 1027.8,928.2 981.5,928.2 981.5,959.6 981.5,966 \
        994.7,966 997.1,966 997.7,966 997.7,997.8 1074.3,997.8 1074.3,980.1 1078,980.1 1078,1018.3 1074.3,1018.3 1074.3,1000.8 \
        981.5,1000.8 981.5,1155.4 1208.2,1155.2 1208.2,1113.4 1208.2,1090.2 1208.2,1027.1 1208.2,1004.6 1208.2,997.4 1151.4,997.4 \
        1151.4,997.5 1148.3,997.5 1147.7,997.5 1147.7,996.2 1147.7,951.3 1136.6,951.3 1136.6,951.3 1136.6,928.2 1078,928.2 \
        1078,926.4 1078,924.6 1078,860.8 1078,857.8 1078,857.1 1087.2,857.1 1087.2,860.8 1081.7,860.8 1081.7,924.6 1136.6,924.6 \
        1136.6,898.1 1147.7,898.1 1147.7,860.8 1109.5,860.8 1109.5,857.1 1118.3,857.1 1118.3,853.1 1121.9,853.1 1121.9,857.1 \
        1178.5,857.1 1178.5,860.8 1151.4,860.8 1151.4,898.1 1151.4,904.4 1151.4,907.7 1181.4,907.7 1181.4,911.4 1151.4,911.4 \
        1151.4,949.3 1151.4,951.3 1151.4,994.4 1208.2,994.4 1208.2,942.1 1208.2,919.6 1208.2,911.4 1201.1,911.4 1201.1,907.8 \
        1208.2,907.8 1208.2,860.8 1201.1,860.8 1201.1,857.1 1208.2,857.1 1208.2,834.6 1208.2,770.7 1208.2,748.3 1208.2,714.8 \
        1121.4,714.8 		')
        rect.st3(x='1139.6' y='901.6' width='8.2' height='46.7')
        rect.st3(x='981.5' y='969' width='13.2' height='28.7')
        polygon.st3(points='988,924.6 988,861.9 981,861.9 981,908.8 981.5,908.8 981.5,924.6 		')
    g.flat-hover.flat-hover-5(id='_x34_.5')
      g.st4
        rect.st3(x='785.7' y='977.3' width='13.7' height='32.9')
        polygon.st3(points='800.9,806.4 803,806.4 892.4,806.4 892.4,714.8 762.8,714.8 762.8,831.6 753.9,831.6 753.9,836.7 \
        748.3,836.7 748.3,831.6 715.2,831.6 715.2,836.7 709.5,836.7 709.5,825.9 712.6,825.9 715.2,825.9 748.3,825.9 751.9,825.9 \
        757.1,825.9 757.1,714.8 629,714.8 629,828.3 640.7,828.3 644.2,828.3 644.2,831.6 644.2,865.8 655.5,865.8 655.5,869.1 \
        644.2,869.1 640.7,869.1 629,869.1 629,933.8 711.5,933.8 711.5,869.1 675.7,869.1 675.7,865.8 709.5,865.8 709.5,859.6 \
        715.2,859.6 715.2,949.6 711.5,949.6 711.5,937.5 629,937.5 629,974.1 711.5,974.1 711.5,969.1 715.2,969.1 715.2,977.8 \
        712.4,977.8 711.5,977.8 629,977.8 629,1155.2 799.4,1155.4 799.3,1013.2 785.7,1013.2 783.3,1013.2 782.7,1013.2 782.7,977.3 \
        782.7,976.1 782.7,974.3 799.3,974.3 799.3,933.3 799.3,933.3 799.3,892.4 799.3,889.5 751.9,889.5 751.9,931.4 748.3,931.4 \
        748.3,859.6 753.9,859.6 753.9,886.2 799.3,886.2 799.3,859.6 803,859.6 803,886.2 893.8,886.1 893.8,831.6 892.4,831.6 \
        892.4,810.1 803,810.1 803,838.1 799.3,838.1 799.3,806.4 		')
        rect.st3(x='629' y='831.6' width='11.7' height='34.2')
    g.flat-hover.flat-hover-4(id='_x34_.4')
      g
        rect.st3(x='466.7' y='792.9' width='11' height='48.5')
        rect.st3(x='612' y='944.6' width='11' height='44.6')
        polygon.st3(points='566.5,1155.9 566.5,1155.4 622.9,1155.4 622.9,993.2 587.9,993.2 587.9,989.2 608.6,989.2 \
        608.6,944.6 608.6,941.3 612,941.3 622.9,941.3 622.9,889.8 561,889.8 561,989.2 566.2,989.2 566.2,993.2 552.1,993.2 \
        552.1,989.2 557.4,989.2 557.4,862.2 551.3,862.2 551.3,858.5 557.4,858.5 557.4,833.6 557.4,832.8 557.4,829.9 580.8,829.9 \
        580.8,833.6 561,833.6 561,858.5 561,862.2 561,886.1 622.9,886.1 622.9,833.6 603.7,833.6 603.7,829.9 622.9,829.9 622.9,714.6 \
        540.6,714.6 540.6,714.6 522.7,714.6 522.7,719.3 519,719.3 519,714.6 511.4,714.6 511.4,685.3 511.4,650.2 511.4,649.2 \
        466.7,649.2 466.7,789.5 477.7,789.5 481,789.5 481,792.9 481,813.7 519,813.7 519,740.9 522.7,740.9 522.7,858.5 529.7,858.5 \
        529.7,862.2 515.6,862.2 515.6,858.5 519,858.5 519,817.4 481,817.4 481,841.4 481,844.7 477.7,844.7 466.7,844.7 466.7,858.5 \
        496.2,858.5 496.2,862.2 466.7,862.2 466.7,867.9 466.7,896.4 466.7,922.7 466.7,926.1 466.7,928.9 466.7,945.6 462.7,945.6 \
        462.7,927.1 389.8,927.1 389.8,989.2 462.7,989.2 462.7,970.2 466.7,970.2 466.7,989.2 466.7,991.8 466.7,992.9 380.9,992.9 \
        380.9,989.2 385.8,989.2 385.8,941.3 339,941.3 339,989.2 358,989.2 358,992.9 339,992.9 339,1159.6 383.7,1157.1 383.8,1156.7 \
        430.7,1153.8 430.9,1154.5 468.1,1152.5 468.2,1151.4 506.4,1149.1 506.4,993.2 506.4,991.1 506.4,989.2 527.7,989.2 527.7,993.2 \
        510.1,993.2 510.1,1155.4 533.3,1155.4 533.3,1155.9 		')
        rect.st3(x='339' y='927.1' width='46.8' height='11.1')
    g.flat-hover.flat-hover-3(id='_x34_.3')
      g.st4
        rect.st3(x='300.4' y='927.1' width='29.6' height='11.1')
        rect.st3(x='285.1' y='649.2' width='11.2' height='208.9')
        path.st3(d='M117.6,1184l4.9-17.4c0,0,14.6-1.3,30.1-13.8l21.4,5.1l0.6,6.7l0,0l41-1.2l0,0l3.4-0.1v-138h3.7v117.9h6.4\
        v19.8l24.3-0.7l0,0l76.4-2.3V995.9h-36v-3.7h36v-50.9h-29.6h-2.1h-1.9v-6.6h-73.6v57.5h49.5v3.7h-49.5v4.7H219v-85.1h3.7V931h73.6\
        v-3.9v-1v-3.4v-26.4v-28.4v-6.8h-14.2v0h-16.5v-3h16.5v-53.5h-51.2v53.5h16.7v3h-19.7v-1.5h0v-73.5h3v15.5h51.2v-58h-51.2v19.5h-3\
        v-49.5h-4.6v-3h7.6v30h51.2v-91.4h-85.6v61.4h5.1v3h-5.1v7.8h-3v-72.3H27.9v54.9L10.4,707v31.8l17.5,1.4v12h165.6v-7.8h3v22.2h-3\
        v-10.7H27.9v13.9l-17.5,1.4v15.4h5l13.7,3v3l-13.7,3h-5v23.7h5l13.7,3v3l-13.7,3h-5v14.2l0.3,0.1l19.1,1.5v8.9v0h163.8v-64.3h3v73\
        h-15.4v17.1h-4v-17.1H29.8V886v47.9v31.6l-17.4,1.4v12.2h4.6l13.7,3v3l-13.7,3h-4.6v19.7h4.6l13.7,3v3l-13.7,3h-4.6v12.3l0,0.2\
        l16.4,2v-0.1h10.7l5.1,16.4c-12.6,15.5-13.8,33.1-13.8,33.1l-16.8,5.1l2.8,34.3l0.1,0.2l19,0.1l5.3,11.3l-11,13.2l0.1,0.2\
        l25.5,25.9l0.1,0.1l14.2-11.8l12.3,6.3l0.1,18.6l0,0h35L117.6,1184z M142.9,1038.2h16.8V917.9h-16.8v-4h38v4h-17.2v120.4h25.2v4\
        h-46V1038.2z')
    g.flat-hover.flat-hover-2(id='_x34_.2')
      g
        polygon.st3(points='319.6,635.8 228.3,635.8 228.3,643.3 319.6,643.3 321.7,643.3 324.7,643.3 330.4,643.3 341.1,643.3 \
        341.1,635.8 321.7,635.8 		')
        polygon.st3(points='383.4,405.6 379.6,405.6 379.6,384.8 310.2,384.8 310.2,446 310,446 310,462.8 379.6,462.8 \
        379.6,427.4 383.4,427.4 383.4,466.5 310,466.5 310,518 314.4,518 314.4,521.7 271.5,521.7 269.7,521.7 267.8,521.7 267.8,502.3 \
        271.5,502.3 271.5,518 306.4,518 306.4,466.5 306.3,466.5 306.3,456.8 271.5,456.8 271.5,483.1 267.8,483.1 267.8,456.8 \
        267.8,456.8 267.8,446 263.4,446 236,446 228.7,446 228.7,479.5 225,479.5 225,456.8 176.6,456.8 176.6,518 225,518 225,499.4 \
        228.7,499.4 228.7,521.7 226.8,521.7 225,521.7 172.9,521.7 172.9,519.4 172.9,518 172.9,446 39.3,446 39.3,643 39.3,643.3 \
        172.8,643.3 172.8,562 172.7,562 172.7,558.3 201.9,558.3 201.9,562 176.4,562 176.4,643.3 224.6,643.3 224.6,562 220.8,562 \
        220.8,558.3 341.1,558.3 341.1,551.8 344.8,551.8 344.8,594.4 341.1,594.4 341.1,562 228.3,562 228.3,632.8 321.7,632.8 \
        341.1,632.8 341.1,616.1 344.8,616.1 344.8,643.3 402.5,643.3 402.5,541.7 406.2,541.7 406.2,643.3 511.4,643.3 511.4,641 \
        511.4,605.9 511.4,596.7 511.4,561.9 511.4,552.6 511.4,517.6 344.8,517.6 344.8,528.7 341.1,528.7 341.1,521.7 337.6,521.7 \
        337.6,518 341.1,518 341.1,513.9 511.4,513.9 511.4,508.4 511.4,451.5 511.4,442.3 511.4,384.8 383.4,384.8 		')
        rect.st3(x='271.5' y='446' width='34.8' height='7.1')
        rect.st3(x='176.6' y='446' width='48.4' height='7.1')
    g.flat-hover.flat-hover-1(id='_x34_.1')
      g.st4
        polygon.st3(points='347.3,46.2 347.2,46.2 343.4,46.2 343.4,18.3 299.5,18.3 299.5,18.3 274.9,18.3 274.9,18.3 259,18.3 \
        259,90.9 343.4,90.9 343.4,66.3 347.1,66.3 347.1,114.4 343.4,114.4 343.4,94.6 272.4,94.6 272.4,154.8 343.4,154.8 343.4,134 \
        347.1,134 347.1,154.8 371.9,154.8 371.9,158.5 252.1,158.5 252.1,154.8 255.3,154.8 255.3,81.6 218.4,81.6 218.4,154.8 \
        232.1,154.8 232.1,158.5 165.9,158.5 165.9,154.8 170.6,154.8 170.6,120 174.3,120 174.3,154.8 214.7,154.8 214.7,81.6 \
        174.3,81.6 174.3,99.9 170.6,99.9 170.6,63.3 174.3,63.3 174.3,77.9 255.3,77.9 255.3,18.3 200.1,18.3 200.1,18.3 178,18.3 \
        178,18.3 174.4,18.3 174.4,43.3 170.7,43.3 170.7,18.3 39.3,18.3 39.3,154.5 145.1,154.5 145.1,158.2 141.6,158.2 141.6,163.9 \
        137.9,163.9 137.9,158.2 39.3,158.2 39.3,264.5 154.9,264.5 154.9,234.1 158.5,234.1 158.5,253.1 223.2,253.1 223.2,196.2 \
        158.5,196.2 158.5,214.4 154.9,214.4 154.9,196.2 141.6,196.2 139.2,196.2 137.9,196.2 137.9,185.4 141.6,185.4 141.6,192.5 \
        155.8,192.5 159.5,192.5 223.2,192.5 226.9,192.5 226.9,196.2 226.9,253.1 226.9,253.1 226.9,264.5 235.5,264.5 263.6,264.5 \
        263.6,264.4 275.1,264.4 275.1,245.4 278.8,245.4 278.8,253.1 311.5,253.1 311.5,254.9 311.5,256.8 311.5,264.7 361,264.7 \
        361,196.2 278.8,196.2 278.8,225.4 275.1,225.4 275.1,192.5 277,192.5 278.8,192.5 364.7,192.5 364.7,194.4 364.7,196.2 \
        364.7,306.6 364.7,308.4 364.7,310.3 341.2,310.3 341.2,326.3 337.5,326.3 337.5,306.6 340.3,306.6 341.2,306.6 361,306.6 \
        361,268.3 311.2,268.3 311.2,316.5 310.9,316.5 310.9,317.6 287.7,317.6 287.7,354.5 311.2,354.5 311.2,354.5 311.2,358.7 \
        337.5,358.7 337.5,351.6 341.2,351.6 341.2,358.7 341.2,358.7 341.2,375.5 511.4,375.5 511.4,318.6 511.4,309.3 511.4,252.3 \
        511.4,243.1 511.4,164 511.4,158.5 395.8,158.5 395.8,154.8 511.4,154.8 511.4,18.3 347.3,18.3 		')
        polygon.st3(points='176.7,256.8 173.5,256.8 158.5,256.8 158.5,264.5 173.5,264.5 176.7,264.5 179.6,264.5 223.2,264.5 \
        223.2,256.8 179.6,256.8 		')
        rect.st3(x='259' y='94.6' width='9.6' height='60.2')
        rect.st3(x='311.2' y='362.4' width='26.3' height='13')
        rect.st3(x='278.8' y='256.8' width='29' height='7.7')

mixin flats-hover-5
  svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 1228.2 1401.8' style='enable-background:new 0 0 1228.2 1401.8;' xml:space='preserve')
    g.flat-hover.flat-hover-3(id='_x35_.3')
      g.st4
        rect.st3(x='1141.5' y='1118.5' width='9' height='67.8')
        path.st3(d='M971.7,1308.2 M928.6,1308.3 M913.8,1308.2 M870.8,1308.3 M856,1308.2 M812.6,1308.2 M801.5,1136.8h6.3v-40.7\
        h126.9v22.9h10.1v-6.3h27.3h5.2v-23h1.8v-27.2h0.8h2.2h69.7h1.3h1.7v7.7h-3v-4.7h-58.7v48.3h58.7V1093h3v43.2h-3v-19.2h-68.2v52.7\
        h13.2h2.4h0.6v16.6h52v-28.1h3v35h-3v-3.9h-52v14.3v1.2v1.8h-16.2v101.6h2.9l0,0.1h44.9v-5.9h14.9v5.9h44.1v-5.9h11.9v-78.2h-49.5\
        v0h-1v-6.9h3v3.9h36.5v-3.9h3v3.9h11v81.2v5.9h45.6v-5.8h14.9v5.8h44.5v-77.6v-22.5v-19h-116v4h-3v-4v-3v-96v-3v-54h-5.1v-3h5.1\
        h0.7h2.3v57h5v3h-5v96h44.2v-70.8h1.5h1.5h9h2h1v70.8h56.9v-40.5v-22.5v-33H1127v-3h83.3v-26.5V1038V909.2v0H633.3v84.6h-2.2v38.1\
        h11.7h3.5v3.3v34.2v3.3h-3.5h-11.7v229.9h6.4v5.7h44v-5.7h14.9v5.7h43.3v-6.1h14.9v6h4.7l0,0.1h38.4l0-0.1h3.7v-90.3h-13.7h-2.4\
        h-0.6v-33.9v-1.2v-1.8h16.7v-16.2V1136.8z M977.5,972.3h10.1v21.6h-5.5v36.7h76.9v3h-76.9H980h-0.8v-39.7h-1.7V972.3z\
        M799.4,972.3h10.1v21.6h-10.1V972.3z M807.8,1119v17.8h-6.3v-9.3h-17.2v-3h17.2v-20.8v-7.6v-6.3v-45.6h-17.2v-3h75.2v2.3v0.7v5.4\
        h-3v-5.4h-52v45.6h3.3h48.7v-18.7h3v18.7h75.2h3.5h2.8v22.9h3.8v6.3H941h-3.8h-2.6v-22.9H807.8v19.9')
        polygon.st3(points='990.1,1113.9 990.1,1065.5 982.1,1065.5 982.1,1089.7 983.6,1089.7 983.6,1113.9 		')
        rect.st3(x='631.1' y='1035.2' width='11.7' height='34.2')
        rect.st3(x='787.8' y='1183.9' width='13.7' height='30.9')
        rect.st3(x='983.6' y='1172.6' width='13.2' height='30.9')
    g.flat-hover.flat-hover-2(id='_x35_.2')
      g
        polygon.st3(points='287.2,938 287.2,1004.2 287.2,1007.2 287.2,1045.9 287.2,1048.9 287.2,1061.7 299.1,1061.7 \
        299.1,852.8 287.2,852.8 287.2,935 		')
        rect.st3(x='614.1' y='1148.2' width='10.9' height='44.6')
        path.st3(d='M468.8,1100h-6.3v6.8h-31.7v17.7h-12.6v-17.7h-4.3v17.7h-31.1v-17.7H367v17.7h-28.4v-17.7h-4.4v17.7h-29.5\
        v-13.7h5v-4h-5v-6.8h-5.7v-28.5v-6.8h-14.9v-1.5v-1.5v-11.8h-51.3v17.6h-3v-26.4h3v5.8h51.3v-38.7H233v11.3h-3v-34.2h3v19.8h51.2\
        V940H233v19.4h-3v-36h-5v-3h8V937h51.2v-84.2h-85.6v67.6h6v3h-6v3.8h-3V914h-18.8v-3h18.8v-58.1h-122v7.4h-7.6v38.1h7.6v14.9h-7.6\
        v37.9h7.6v5.7h122v-4.4h3v12h-3v-4.1h-122v5.7h-7.6v38.3h7.6v14.9h-7.6v37.7h7.6v5.5h122V996h-18.8v-3h18.8v-4.7h3v77.1h-125v6.4\
        h-7.6v33.7h7.6v14.9h-7.6v33.9h7.6v14.9h-7.6v33.7h7.6v14.9h-7.6v33.6c0,0,0,0.1,0,0.2h7.6v12.9l-6.5,2.4\
        c1.9,9.7,6.4,22.7,17.1,35.5l5.8-3l10.5,10.5l-2.8,5.3c12.2,9,25.9,13,36.3,14.8l1.8-4.4h14.9v5.9c0.1,0,0.2,0,0.2,0\
        s10.2-0.9,33.2-2.2l-0.2-4.2l14.9-0.8l0.2,4.2c9.7-0.5,20.9-1.1,33.8-1.7l-0.2-4.2l14.9-0.8l0.2,4.3c10.3-0.5,21.6-0.9,33.8-1.4\
        l-0.2-4.7l14.9-0.8l0.3,4.8c10.5-0.4,21.5-0.9,32.9-1.4l-0.3-5.2l14.9-0.8l0.3,5.3c11.3-0.5,22.8-1,34.4-1.6l-0.3-5.5l6.5-0.3\
        v-10.7h4v10.5l4.4-0.2l0.3,5.6c11.3-0.5,22.7-1.1,34-1.6l-0.3-5.7l14.9-0.8l0.3,5.8c11.5-0.6,22.8-1.1,33.8-1.7l-0.3-5.8l14.9-0.8\
        l0.3,5.8c11.7-0.6,23-1.2,33.8-1.7l-0.3-5.9l14.9-0.8l0.3,5.9c12.3-0.6,23.7-1.3,33.8-1.8l-0.3-5.8l14.9-0.8l0.3,5.8\
        c17.2-0.9,29.3-1.6,34.2-1.9v-5.3h2.3v-105.8h-36.6v-4h22.3v-44.6v-3.3h3.3H625v-79.3h-51.5v39.8h16.8v4h-44.6v-4h23.8v-39.8\
        h-44.7v127.2h22.6v4h-22.6v84.9h-4v-132.4h-13.5v-4h13.5v-100h4v17H625v-68.5h-1.1v-84.6H525v-61.5h-47.8v124.5h6v13.4v7.1v52.2\
        v3.3h-3.3h-11v23.8V1100z M388.9,1278.2h-3.5v-85.1h3.5V1278.2z M298.5,1129.8v-3.4V1100h6.3v6.8h5v4h-5v13.7h29.5v-17.7h4.4v17.7\
        H367v-13.7v-4h15.8v4v13.7h31.1v-17.7h4.3v17.7h12.6v-13.7v-4h31.7v-6.8h6.3v26.4v3.4v15.1h14.5v4h-18.5v-4v-14.1h-58.3v11.1v3h-4\
        h-13.6v22.5h-4v-22.5h-82.4h-2.1h-1.9V1129.8z M120.3,1169.3v-3h16.9v-69.2h-17.4v-3h35v3h-14.6v69.2h53.1v-69.2h-15.5v-3h18.5\
        v75.2H120.3z')
        rect.st3(x='302.5' y='1130.8' width='100' height='11.1')
        rect.st3(x='468.8' y='993.5' width='11' height='51.5')
    g.flat-hover.flat-hover-1(id='_x35_.1')
      g.st4
        rect.st3(x='311.7' y='562.4' width='28.1' height='11.7')
        rect.st3(x='261.2' y='285' width='10.4' height='68.4')
        path.st3(d='M288.8,553.1v5.1h93.1v20.5h-3.6v-16.2h-34.6v15.2h-30.8v84.4h17.7v4.8H259V806h-5.9v-25.4h-74.3v16.9h-3.2\
        V692.9h3.2v82.5h76.4V660.9h-76.4v10.3h-3.2V650H72.7v7.9h-6.2l-0.1,35.6h7.3v14.9h-7.3l-0.1,35h7.4v14.9h-7.4l-0.1,36.5h7.5v14.9\
        h-7.5l-0.1,35.8h7.6v1.5h101.7v-13.3h3v13.3h31.7v-7.5v-3h3h39.9v-6.1h6.9v6.1h38.1h3v3v7.5h161.3v-4.7v-4.1H525V654.8V650V468.1\
        v-4V222.7H333.6v65.9h-2.9v-65.9h-29.1v0h-21.3v0h-6.2v130.7h56.5v-42.8h3.1v42.8h83.9v-28h9.6v3.4h-5.7v28.4H229.1v-3.7H258V285\
        h-28.9v-2.5h42.3v-59.8h-69.1v0h-22.1v0h-3.6v59.8h30.8v2.5h-33.5v-62.3H67.4v32.4h6.3v15.8h-6.3v32.9h6.3v15.8h-6.3v33.8h4.2h2.1\
        h100.4v-39.7h2.9v39.7h24.4v3.7H183v5.9h-7.4v-5.4H73.6v10.7h-6.3v32.9h6.3V417h-6.3v32.7h6.3v18.4h101.9v-33.6h3.2v21.7h50.4\
        v-21.7h3.6v21.9h72.6v-60.9h-72.6v17h-3.6v-17h-50.4v17h-3.2v-25.3h6.9v4.5h154.5v3.6H309v57.5h54.4v-57.3h-4.5v-3.8h53.8v119.8\
        h-21.5v-3.2h18.7v-113h-43.1v61.5h-17.2v51.5H368v3.2h-26.9v-3.2h5.4v-52h-33.2v52h5.9v3.2h-5.9v8.5h-24.5v5.8V553.1z\
        M486.2,721.6h-21.6v-10.1h21.6V721.6z M486.2,621.5h-21.6v-10.1h21.6V621.5z M486.2,521.7h-21.6v-10.1h21.6V521.7z M486.2,425.9\
        h-21.6v-10.1h21.6V425.9z M455.2,325.4h10v-5.6h21.3v9.9h-21.3v-0.8l-10,0.1V325.4z')
        rect.st3(x='213.1' y='839.4' width='85' height='7.5')
        polygon.st3(points='309.6,460.1 178.8,460.1 178.8,468.1 309.6,468.1 		')
        polygon.st3(points='179.7,656.7 259,656.7 259,663.4 309.4,663.4 309.4,656.7 309.4,651.6 309.4,650 179.7,650 		')
