extends pug/layout.pug

block variables
  - let title = 'Искусные планировки';
  - let isInner = true;
  - let isFHPage = true;
  - let logoNoScroll = true;
  - let headerBackground = 'header__menu--fantastic';

block content
  .container.floor-detail-container.blue-burger-container
    include pug/phone-icon.pug
    h1.title.title--page.title--big искусные планировки

    .choice
      .swiper-container.choice-container
      .swiper-wrapper.tabs-links
        .swiper-slide
          button.switch-button.switch-button-active( type="button") план квартиры
        .swiper-slide
          button.switch-button( type="button") план этажа
        .swiper-slide
          button.switch-button( type="button") пример дизайна
    .tab.is-active
      section.flat-plan
        .flat-plan__col.flat-plan__col--left
          .flat-plan__desc Пентхаус № 2 224 м<sup>2</sup>
        .flat-plan__col.flat-plan__col--center
          .flat-plan__img
            a(href="#").popup-trigger
              .flat-plan-img
                p.flat-plan-img__text.flat-plan-img__text--left Малая Грузинская
                p.flat-plan-img__text.flat-plan-img__text--bottom Большой Тишинский переулок
                img(src="img/flat-plan-full@1x.png", alt="План квартиры", srcset="img/flat-plan-full@2x.png 2x")
        .flat-plan__col.flat-plan__col--right
          .flat-plan__details
            .flat-plan__compas.floor-compas
              span C
                svg(width='14', height='25', viewbox='0 0 14 25', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M4.57587 1.56719C4.33685 1.42891 4.03098 1.51057 3.8927 1.7496L1.63926 5.64472C1.50097 5.88375 1.58264 6.18961 1.82167 6.3279C2.06069 6.46618 2.36656 6.38451 2.50484 6.14549L4.5079 2.68315L7.97023 4.68621C8.20926 4.8245 8.51512 4.74283 8.65341 4.5038C8.79169 4.26478 8.71002 3.95891 8.471 3.82063L4.57587 1.56719ZM10.4838 23.1264L4.80857 1.871L3.84241 2.12896L9.51766 23.3844L10.4838 23.1264Z', fill='#10069F')
            .flat-plan__details-text
              p 5-й этаж
              p 4 комнаты
              p 3 спальни
            .flat-plan__details-text
              p Терраса 10 кв.м Камин в гостиной Личный лифт
            .flat-plan__floor-img
              img(src="img/flat-plan-floor@1x.png", alt="", srcset="img/flat-plan-floor@2x.png 2x")
            .flat-plan__pdf
              a(href="#") План в PDF
                svg(width='11', height='12', viewbox='0 0 11 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M5.49387 0C5.27971 0.0035 5.10715 0.18095 5.10715 0.3997C5.10715 0.4018 5.10715 0.40355 5.10715 0.40565V0.4053V7.4333L2.63696 4.9182C2.5658 4.84575 2.46784 4.8013 2.35955 4.8013C2.14265 4.8013 1.96699 4.9805 1.96699 5.201C1.96699 5.3116 2.01099 5.41135 2.08215 5.4838L5.2223 8.68105C5.22334 8.6821 5.22505 8.6835 5.22677 8.6849L5.22746 8.6856C5.23124 8.68945 5.23537 8.6933 5.23949 8.69715L5.23984 8.6975C5.24499 8.7024 5.25049 8.70695 5.25599 8.71185L5.25668 8.71255C5.25943 8.71465 5.26321 8.71745 5.26699 8.72025L5.26802 8.72095C5.27318 8.7248 5.27971 8.7297 5.28659 8.73425L5.2883 8.7353C5.29174 8.73775 5.2969 8.7409 5.3024 8.74405L5.30412 8.7451C5.30824 8.74755 5.31409 8.75105 5.32027 8.7542L5.32234 8.75525C5.32543 8.757 5.33093 8.7598 5.33643 8.7619L5.33884 8.76295C5.34227 8.7647 5.34846 8.7675 5.35465 8.7703L5.35705 8.77135C5.36084 8.7731 5.36771 8.7752 5.37459 8.77765L5.37734 8.77835C5.38009 8.7794 5.38559 8.7815 5.39109 8.78325L5.39384 8.78395C5.39762 8.785 5.40449 8.7871 5.41137 8.7885L5.41377 8.78885C5.41721 8.7899 5.42374 8.7913 5.42993 8.79235L5.43234 8.7927C5.43612 8.7934 5.44265 8.79445 5.44918 8.79515L5.45124 8.7955C5.45605 8.7962 5.46293 8.7969 5.4698 8.79725H5.47084C5.47702 8.7976 5.4839 8.79795 5.49112 8.79795H5.49146C5.49421 8.79795 5.49765 8.7983 5.50074 8.7983C5.50384 8.7983 5.50727 8.7983 5.51071 8.79795H5.51037C5.5224 8.7976 5.53409 8.7969 5.54543 8.7955L5.54371 8.79585C5.5468 8.7955 5.54749 8.79515 5.54852 8.79515L5.54612 8.7955C5.55643 8.7941 5.56468 8.7927 5.57293 8.79095L5.57052 8.7913C5.57946 8.78955 5.58565 8.78815 5.59184 8.78675L5.58909 8.78745C5.59665 8.7857 5.6018 8.7843 5.60662 8.7829L5.60387 8.7836C5.61452 8.78045 5.62243 8.778 5.62999 8.77555L5.62724 8.77625C5.6348 8.7738 5.63927 8.7717 5.64409 8.76995L5.64168 8.771C5.6513 8.76715 5.65818 8.76435 5.66471 8.76085L5.6623 8.7619C5.67502 8.75595 5.68465 8.75105 5.69427 8.7458L5.69221 8.74685C5.69393 8.7458 5.69427 8.74545 5.69462 8.7451L5.69324 8.74615C5.70252 8.7409 5.70974 8.736 5.71696 8.7311L5.71559 8.73215C5.72212 8.7276 5.72727 8.72445 5.73209 8.7206L5.73105 8.7213C5.74068 8.71395 5.74893 8.7073 5.75684 8.7003L5.75649 8.70065C5.75718 8.69995 5.75821 8.6989 5.7589 8.6982C5.76543 8.6926 5.77162 8.68735 5.77712 8.68175L8.91693 5.48485C8.99049 5.41205 9.03587 5.31055 9.03587 5.1982C9.03587 4.97735 8.86021 4.7985 8.6433 4.7985C8.63918 4.7985 8.6354 4.7985 8.63127 4.79885H8.63196C8.52608 4.802 8.43087 4.8475 8.36212 4.91925L5.89227 7.43435V0.40635C5.89227 0.4046 5.89227 0.40285 5.89227 0.4011C5.89227 0.18025 5.71662 0.0014 5.49971 0.0014C5.49765 0.0014 5.49559 0.0014 5.49352 0.0014H5.49387V0ZM0.397086 10.396C0.395367 10.396 0.393648 10.396 0.391586 10.396C0.17468 10.396 -0.000976562 10.5749 -0.000976562 10.7957C-0.000976562 11.0166 0.175023 11.1954 0.391586 11.1954C0.393648 11.1954 0.395367 11.1954 0.39743 11.1954H10.602C10.6037 11.1954 10.6054 11.1954 10.6075 11.1954C10.8244 11.1954 11.0001 11.0166 11.0001 10.7957C11.0001 10.5749 10.8244 10.396 10.6075 10.396C10.6054 10.396 10.6037 10.396 10.6016 10.396H0.397086Z', fill='#10069F')
      .flat-plan-popup.popup
        button(type="button", aria-label="Кнопка закрытия").flat-plan-popup__btn.popup-btn
        .flat-plan-popup__img
          .flat-plan-img
            p.flat-plan-img__text.flat-plan-img__text--left Малая Грузинская
            p.flat-plan-img__text.flat-plan-img__text--bottom Большой Тишинский переулок
            img(src="img/flat-plan-full@1x.png", alt="План квартиры", srcset="img/flat-plan-full@2x.png 2x")
    .tab
      section.floor.floor--1
        .floor__col.floor__col--left
          .floor__desc
            p.floor__number Этаж 1
            p.floor__text Возможно объединение квартир
        .floor__col.floor__col--center
          .floor__img
            p.floor__img-text.floor__img-text--left Малая Грузинская
            p.floor__img-text.floor__img-text--bottom Большой Тишинский переулок
            p.floor__img-text.floor__img-text--garden Сад
            a(href="floor-detail-2-5.html").floor__flat.floor__flat--1.floor__flat--active
              .floor__flat-number № 1<br>243 м<sup>2</sup>
            a(href="floor-detail-2-6.html").floor__flat.floor__flat--2
              .floor__flat-number № 2<br>224 м<sup>2</sup>
            a(href="floor-detail-2-7.html").floor__flat.floor__flat--3
              .floor__flat-number № 3<br>224 м<sup>2</sup>
            a(href="floor-detail-2-8.html").floor__flat.floor__flat--4
              .floor__flat-number № 4<br>224 м<sup>2</sup>
            //- a.floor__flat.floor__flat--sold
            //-   .floor__flat-number № 3<br>ПРОДАНО
            .floor__img-cover
              +flats-hover-1
              img(src='img/fh_floor_1.svg', alt='План этажа')
        .floor__col.floor__col--right
          .floor__compas
            span C
            svg(width='14', height='25', viewbox='0 0 14 25', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M4.57587 1.56719C4.33685 1.42891 4.03098 1.51057 3.8927 1.7496L1.63926 5.64472C1.50097 5.88375 1.58264 6.18961 1.82167 6.3279C2.06069 6.46618 2.36656 6.38451 2.50484 6.14549L4.5079 2.68315L7.97023 4.68621C8.20926 4.8245 8.51512 4.74283 8.65341 4.5038C8.79169 4.26478 8.71002 3.95891 8.471 3.82063L4.57587 1.56719ZM10.4838 23.1264L4.80857 1.871L3.84241 2.12896L9.51766 23.3844L10.4838 23.1264Z', fill='#10069F')
    .tab.tab-gallery
      section.example-design
        img(src="img/example-design@1x.jpg", alt="Пример дизайна", srcset="img/example-design@2x.jpg")

