extends pug/layout.pug

block variables
  - let title = 'Впечатляющий офис&nbsp;продаж';
  - let isInner = true;
  - let isOfficePage = true;
  - let headerBackground = 'header__menu--office';

block content
  .container.housing.office.gradient.slider-page
    include pug/phone-icon.pug
    h1.title.title--page.title--big  !{title}
    .housing__first-screen.housing__first-screen--office.gradient-top.img-content( style="background-image: url(img/office-1@2x.jpg)")
      span.arrow
        svg(width="57", height="96", viewbox="0 0 57 96", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M28.5756 22.4202V73.4296", stroke="#FFFFFF", stroke-width="3", stroke-linecap="round", stroke-linejoin="round")
          path(d="M40.9734 61.2415L28.5756 73.58L16.0265 61.2415", stroke="#FFFFFF", stroke-width="3", stroke-linecap="round", stroke-linejoin="round")
    p#description
      |  Пишем текст про крутой гостепреимный офис продаж. Шампанское, дегедрированные фрукты, смузи и шик.  Офис расположен всего в двух минутах от Fantastic House Большой Тишинский переулок 43/20с2

    .housing__map
      .map-office#map
      +route


    .housing__slider.gradient-bottom
      .housing__slider-container.img-content
        .housing__slides
          .housing__slider-slide
            img(src="img/office-2@1x.jpg" alt="Невероятные квартиры" srcset="img/office-2@2x.jpg 2x")
          .housing__slider-slide
            img(src="img/office-1@1x.jpg" alt="Невероятные квартиры" srcset="img/office-1@2x.jpg 2x")
          .housing__slider-slide
            img(src="img/garden-1@1x.jpg" alt="Невероятные квартиры" srcset="img/garden-1@2x.jpg 2x")
          .housing__slider-slide
            img(src="img/garden-2@1x.jpg" alt="Невероятные квартиры" srcset="img/garden-2@2x.jpg 2x")

      .count-cursor.count.visually-hidden
        span.back.visually-hidden
          svg( width="13" height="35" viewBox="0 0 20 37" fill="none" xmlns="http://www.w3.org/2000/svg" )
            path( d="M9.8999 1.90002V35.8" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" )
            path( d="M18.1001 27.7L9.9001 35.9L1.6001 27.7" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" )
        span.current 1
        span  /
        span.total
        span.next
          svg( width="13" height="35" viewBox="0 0 20 37" fill="none" xmlns="http://www.w3.org/2000/svg" )
            path( d="M9.8999 1.90002V35.8" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" )
            path( d="M18.1001 27.7L9.9001 35.9L1.6001 27.7" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" )

block footer
  .footer-inner
    a.footer-inner__link.button(href="#") Выбрать невероятную квартир


block bottom
  script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_jY3_nW7rZP_WJt5el5FWKp8rBO9ufF8&callback=initMap"
    async defer )




